.fields-form {
	background: #cddae6;
	border: solid 1px #eef2f6;
	padding: 25px;
	border-radius: 5px;
	margin: 35px 0 0 0;
	font-size: 14px;
}
.fields-form h6 {
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;
	border-bottom: dotted 1px #16578f;
}
.calender {
	background: #fff url(../images/calender-icon.png) no-repeat right center;
}