footer #footerWrapper{
  background: #444444;
  color: #999;
  padding: 20px 0;
  text-align: left;
}
footer a {
  font-size: 13px; 
  padding: 0 15px 0 0;
  margin: 0 15px 0 0;
  border-right: solid 1px #999; 
  color: #999;
  float: left;
}
footer a:last-child{
  border-right: solid 0px #999; 
}
footer .copy-rights {
  font-size: 13px;
  text-align: right;
}
footer.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.social {
  padding-top: 6px;
  font-size: 13px;
  text-align: right;
}
.social img {
  margin: 0 0 0 8px;
}
.line {
  background: #5e5e5e;
  margin: 15px;
  height: 1px;
}



@media only screen and (min-width: 320px) and (max-width: 480px) { 
  footer .copy-rights {
    text-align: center;
  }
  .social {
    text-align: center;
    padding-top: 12px;
  }
  .footer-links {
    text-align: center;
    margin: 0 0 15px 0;
  }
  footer a {
    float: none;
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 0 8px 0 0;
  }
}
