 .mission-vissionSubHeadings{
	color: #333;
}
.vision-mission {
	margin: 0 0 20px 0;
}
.vision-mission img {
	border: none;
	margin: 8px 0;
}
.vision-mission h6 {
	margin: 10px 0 0 0;
}
.vision-mission .mission {
	background: #e5ecf2;
}