.registerOverlayContainer {
  padding: 15px;
}

.close-overlay{
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 25px;
  width : 20px;
  cursor : pointer;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
.pageheader{
  padding-bottom: 9px; 
  margin: 40px 0 20px; 
}



.registration-wrapper label{
  font-weight: normal;
}


.status-message-wrapper{
  padding-top: 20px;
}