.error-class{
	clear:both;
	color: red;
	font-size: 11px;
	margin-bottom:15px;
}
.error-class .error-content:empty {
  display: none;
  border:  solid 2px red;
}

.row.error-field input, .row.error-field select{
  border: 1px solid #ff3a3a;
}


input.error-field, select.error-field{
  border: 1px solid #ff3a3a;
  margin : 10px 0; 
}