 <div class="row tasks-section">
      <ul class="">
        <li>
          <ul class="task-desc">
            <li><h6>Assigned tasks</h6></li>
            <li>
              <div class="row">
                <div class="large-4 columns">R1321</div>
                <div class="large-7 columns">Request for Adhar</div>
                <div class="large-4 columns">20/2/15</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-4 columns"><img src="images/arrow-top.png" />R1322</div>
                <div class="large-7 columns">Request for ligiting</div>
                <div class="large-4 columns">21/2/15</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-4 columns">R1323</div>
                <div class="large-7 columns">Request for Roads</div>
                <div class="large-4 columns">22/2/15</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-4 columns">R1324</div>
                <div class="large-7 columns">Request for Cleaning</div>
                <div class="large-4 columns">23/2/15</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-4 columns">R1325</div>
                <div class="large-7 columns">Request for voter card</div>
                <div class="large-4 columns">24/2/15</div>
              </div>
            </li>
            <li>
              <div>
                <div class="large-4 columns previous-link"><img src="images/previous.png"/></div>
                <div class="large-7 columns page-nation">12 to 18 of 20</div>
                <div class="large-4 columns next-link"><img src="images/next.png"/> </div>
              </div>
            </li>
          </ul>
        </li>
     
      </ul>
    </div> 