<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-12">
                    <h6>Add Request</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 form-group fields-form">
                    <!--MODEL POP-UP START FOR Quick REGISTRATION-->
                    <div class="modal fade bs-example-modal-lg" role="dialog" aria-labelledby="gridSystemModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="gridSystemModalLabel">Quick Registration</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <form name="" id="" action="">
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-4 middle_level">
                                                        <p class="pull-right">First Name:</p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" placeholder="" name="" id="" class="form-control"> </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-4 middle_level">
                                                        <p class="pull-right">Middle Name :</p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" placeholder="" name="" id="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-4 middle_level">
                                                        <p class="pull-right">Last Name :</p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" placeholder="" name="" id="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-4 middle_level">
                                                        <p class="pull-right">User Name :</p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" placeholder="" name="" id="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-4 middle_level">
                                                        <p class="pull-right">Password :</p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="password" placeholder="" name="" id="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-4 middle_level pull-left">
                                                        <p class="pull-right">Confirm Password :</p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="password" placeholder="" name="" id="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-4 middle_level">
                                                        <p class="pull-right">Date of Birth :</p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" placeholder="" name="" id="" class="form-control calender">
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-4 middle_level">
                                                        <p class="pull-right">Mobile Number :</p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" placeholder="" name="" id="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-4 middle_level">
                                                        <p class="pull-right">Email Address :</p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="email" placeholder="" name="" id="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-4 middle_level">
                                                        <p class="pull-right">Skype Id :</p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" placeholder="" name="" id="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-4 middle_level">
                                                        <p class="pull-right">Gender:</p>
                                                    </div>
                                                    <div class="col-sm-8 middle_level">
                                                        <input type="radio" name="gender" id=""> Male
                                                        <input type="radio" name="gender" id=""> Female
                                                        <input type="radio" name="gender" id=""> Not to be disclosed
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-4 middle_level">
                                                        <p class="pull-right">
                                                            <input type="checkbox" name="volunteer" id="">
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-8 middle_level">
                                                        Do you want to be a volunteer?
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-4 middle_level">
                                                        <p class="pull-right">
                                                            <input type="checkbox" name="volunteer" id="">
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-8 middle_level">
                                                        Do you want to register as a Cadre?
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-4 middle_level">
                                                        <p class="pull-right">&nbsp;</p>
                                                    </div>
                                                    <div class="col-sm-6 middle_level">
                                                        <input type="radio" name="cadre" id=""> New
                                                        <input type="radio" name="cadre" id=""> Existing
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <div class="col-sm-4 middle_level">
                                                        <p class="pull-right">Select area of interest:</p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select class="form-control">
                                                            <option value="1">Category1</option>
                                                            <option value="2">Category2</option>
                                                            <option value="3">Category3</option>
                                                            <option value="4">Category4</option>
                                                            <option value="5">Category5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                        </div>
                                        <!--row end-->
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Register</button>
                                </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                    <!--MODEL POP-UP END FOR Quick REGISTRATION-->
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3 middle_level">
                            <p class="pull-right">Request Title:</p>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" placeholder="" name="" id="" class="form-control"> </div>
                        <!-- <div class="col-sm-3 middle_level"> <input type="checkbox" name="" id=""> Is Project</div> -->
                        <!--<span aria-hidden="true" class="glyphicon glyphicon-search middle_level"></span>-->
                        <!--<div class="col-sm-2 middle_level"> <a href="#">adf</a> </div>-->
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3 middle_level">
                            <p class="pull-right">Description :</p>
                        </div>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3 middle_level">
                            <p class="pull-right">Requestor :</p>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" placeholder="" name="" id="" class="form-control">
                        </div>
                        <a href="#"><span aria-hidden="true" class="glyphicon glyphicon-search middle_level"></span>	</a>
                        <div class="middle_level" style="border:margin-left:5px;width:122px; float:right;">
                            <a href="#" id="myModal" data-toggle="modal" data-target=".bs-example-modal-lg" style="text-decoration:none;">Quick Registration</a>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3 middle_level">
                            <p class="pull-right">Request Mode :</p>
                        </div>
                        <div class="col-sm-6 middle_level">
                            <input type="radio" name="" id=""> By Phone
                            <input type="radio" name="" id=""> By Email
                            <input type="radio" name="" id=""> In-Person
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3 middle_level">
                            <p class="pull-right">Assign To :</p>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" placeholder="" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3 middle_level">
                            <p class="pull-right">Target Date :</p>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="calender form-control" placeholder="30-Jul-2015">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3 middle_level">
                            <p class="pull-right">Category :</p>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control">
                                <option value="1">Category1</option>
                                <option value="2">Category2</option>
                                <option value="3">Category3</option>
                                <option value="4">Category4</option>
                                <option value="5">Category5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3 middle_level">
                            <p class="pull-right">Priority :</p>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control">
                                <option value="1">Priority1</option>
                                <option value="2">Priority2</option>
                                <option value="3">Priority3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3 middle_level">
                            <p class="pull-right">Prime ID# :</p>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" placeholder="" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3 middle_level">
                            <p class="pull-right">Comments Type :</p>
                        </div>
                        <div class="col-sm-6 middle_level">
                            <input type="radio" name="comment_type" id=""> Public
                            <input type="radio" name="comment_type" id=""> Private
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3 middle_level">
                            <p class="pull-right">Additional Comments :</p>
                        </div>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3 middle_level">
                            <p class="pull-right">Location:</p>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" placeholder="" name="" id="" class="form-control"> </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-3 middle_level">
                            <p class="pull-right">Upload Attachment:</p>
                        </div>
                        <div class="col-sm-6">
                            <input type="file" name="user_horizontal_file" id="user_horizontal_file" class="file optional"> </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-6">
                            <input type="button" placeholder="" name="" id="" class="btn btn-primary pull-right" value="Submit">
                        </div>
                        <div class="col-sm-6">
                            <input type="button" placeholder="" name="" id="" class="btn btn-primary pull-left" value="Back">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
