<div class="container">
    <div class="row content view-tasks row_custom">
        <div class="col-md-12">
            <div class="col-md-4 pull-right">
                <div class="user-information">
                    <div class="arrow"></div>
                    <h4 align="left">Requestor Details</h4>
                    <hr style="border-top:1px solid #ccc;">
                    <img src="images/image.png" />
                    <div class="details">
                        <ul class="list-group requestor_details">
                            <li><span>Requestor: </span>System Admin</li>
                            <li><span>Created On: </span>Apr 02, 2015 at 12:31:49</li>
                            <li><span>Last Updated On: </span>Apr 02, 2015 at 12:31:49</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h4>View Request</h4>
            </div>
            <div class="col-md-8 req_title">
                <h4>Request Title</h4>
            </div>
            <div class="col-md-8 req_update">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Status: </label>
                        <select class="form-control">
                            <option>In-Progress</option>
                            <option>Open</option>
                            <option>Closed</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Priority: </label>
                        <select class="form-control">
                            <option>Medium</option>
                            <option>Low</option>
                            <option>High</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Assigned to: </label>
                        <select class="form-control">
                            <option>R Rao</option>
                            <option>S Steve</option>
                            <option>John</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Target Date: </label>
                        <input type="text" class="calender form-control" placeholder="Target Date">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Completed Percentage: </label>
                        <select class="form-control">
                            <option>0 </option>
                            <option>10 </option>
                            <option>20 </option>
                            <option>30 </option>
                            <option>50 </option>
                            <option>75 </option>
                            <option>100 </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-8 task-description">
                <h4>Description</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin neque ac posuere ornare. Proin velit enim, consequat quis lo quis, actor molestie mauris. Nam arius. Proin velit enim, consequat quis lo quis, actor molestie mauris. Nam varius.</p>
            </div>
            <div class="col-md-8 attachements">
                <h4>Attachements</h4>
                <ul class="large-block-grid-3">
                    <li>Status: </li>
                    <li>Priority: </li>
                    <li>Assigned to: </li>
                    <li>Target Date:</li>
                </ul>
            </div>
            <div class="col-md-8 comments">
                <h4>Work Notes</h4>
                <div class="head">
                    <a href="#" class="add-comments">Add Comments</a>
                    <a href="#" class="attachments">Attachments</a>
                </div>
            </div>
            <div class="col-md-8 comments-list">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="info"> <span class="right">Updated By: Srinivas</span> <span class="right pull-right">Updated Date: 25/03/2014</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin neque ac posuere ornare. Proin velit enim, consequat quis lo quis, actor molestie mauris. </p>
                    </li>
                    <li class="list-group-item">
                        <div class="info"> <span class="right">Updated By: Srinivas</span> <span class="right pull-right">Updated Date: 25/03/2014</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin neque ac posuere ornare. Proin velit enim, consequat quis lo quis, actor molestie mauris. </p>
                    </li>
                    <li class="list-group-item">
                        <div class="info"> <span class="right">Updated By: Srinivas</span> <span class="right pull-right">Updated Date: 25/03/2014</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin neque ac posuere ornare. Proin velit enim, consequat quis lo quis, actor molestie mauris. </p>
                    </li>
                    <li class="list-group-item">
                        <div class="info"> <span class="right">Updated By: Srinivas</span> <span class="right pull-right">Updated Date: 25/03/2014</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin neque ac posuere ornare. Proin velit enim, consequat quis lo quis, actor molestie mauris. </p>
                    </li>
                    <li class="list-group-item">
                        <div class="info"> <span class="right">Updated By: Srinivas</span> <span class="right pull-right">Updated Date: 25/03/2014</span> </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin neque ac posuere ornare. Proin velit enim, consequat quis lo quis, actor molestie mauris. </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 pull-right">
                <div class="user-information">
                    <div class="arrow"></div>
                    <h4 align="left">Analyst Details</h4>
                    <hr style="border-top:1px solid #ccc;">
                    <img src="images/image.png" />
                    <div class="details">
                        <ul class="list-group requestor_details">
                            <li><span>Analyst: </span>System Admin</li>
                            <li><span>Created On: </span>Apr 02, 2015 at 12:31:49</li>
                            <li><span>Last Updated On: </span>Apr 02, 2015 at 12:31:49</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
