<div class="container-fluid cadre-list">
	
	<div class="close-overlay" ng-click="cancel()">X</div>

	<div class="row  list-header">
		<div class="col-md-10">
			<h3 class="page-header">Choose Cadre from the list</h3>
		</div>
	</div>
	
	<div class="row cadre-list-row" ng-hide="showNoRecordsMsg">
	<div ng-repeat="cadre in cadreList" class="col-md-12 cadre-list-item">
		<span ng-bind="cadre.label" ng-click="ok(cadre.value, cadre.model)"></span>
	</div>
	</div>

	<div class="no-records row cadre-list-row" ng-show="showNoRecordsMsg" >
		<div class="col-md-12 cadre-list-item">
			<span> No Records found. Please refine your search.</span>
		</div>
	</div>


	

	<div class="row">
		<div class="col-md-3 right">
			<button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
		</div>
	</div>

		
</div>