<form name="childs" id="childFormEdit" ng-submit="ok()">

<div class="container-fluid cadre-list">
	
<div class="close-overlay" ng-click="cancel()">X</div>

	<div class="row  list-header">
		<div class="col-md-10">
			<h3 class="page-header">Edit Child Info:</h3>
		</div>
	</div>
	

	<div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="right-label" class="reg-label right inline label-weight">Child Name:</label>
                        </div>
                        <div class="col-md-3  left">
                            <input type="text" id="childFirstName" class="form-control name required" data-val="childFname"  ng-model="child.firstName" placeholder="First Name">
                        </div>
                        <div class="col-md-3  left">
                            <input type="text" id="childMiddleName" class="form-control name" ng-model="child.middleName" placeholder="Middle Name">
                        </div>
                        <div class="col-md-3  left">
                            <input type="text" id="childLastName" class="form-control name" ng-model="child.lastName" placeholder="Last Name">
                        </div>
                        <div class="error-class">
                            <div class="error-content"></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label for="right-label" class="right inline label-weight">Gender:</label>
                        </div>
                        <div class="col-md-9  left radioGroup">
                            <input type="radio" value="M" id="male" ng-model="child.gender">
                            <label for="male">Male</label>
                            <input type="radio" value="F" id="female" ng-model="child.gender">
                            <label for="female">Female</label>
                            <input type="radio" value="O" id="notToDisclose" ng-model="child.gender">
                            <label for="notToDisclose">Not to be disclosed</label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label for="right-label" class="reg-label right inline label-weight">Date of Birth:</label>
                        </div>
                        <div class="col-md-9  left">
                            <input type="text" id="childDob" name="childDob" ng-model="child.dateOfBirth" class="form-control input" date-picker-directive="child.dateOfBirth" future-date-disabled="true">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="right-label" class="reg-label right inline label-weight">Education:</label>
                        </div>
                        <!-- data-val="childEducation"  -->
                        <div class="col-md-9 left">
                            <select id="education" class="form-control input" name="education" ng-model="child.education.educationId" ng-options="education.educationId as education.qualification for education in educationOptions">
                                <option value="">Select Education</option>
                            </select>
                            <div class="error-class">
                                <div class="error-content"></div>
                            </div>
                        </div>
                    </div>
                </div>


	<div class="row">
        <div class="col-lg-6 right">
            <button class="btn submit">Submit</button>
            <button class="btn cancel" ng-click="cancel()">Cancel</button>
        </div>
	</div>

		
</div>

</form>