
	<div class="close-overlay" ng-click="cancel()">X</div>
	<div class="row  list-header">
		<div class="col-md-12">
			<h3 class="page-header"> Subject : {{subject}}</h3>
		</div>
	</div>
	<div class="row form-container">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row">
				<div class="col-lg-12 cadre-status-message" ng-bind ="modalMessage"> </div>
				Dear ,
			</div>
		</div>
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row">
				<div class="col-lg-12 cadre-status-message" ng-bind ="modalMessage"> </div>
				Welcome to Vijayawada Constituency.<br><br>
			</div>
		</div>	
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row">
				<div class="col-lg-12 cadre-status-message" ng-bind ="modalMessage"> </div>
				Thanks for Providing .......<br><br>
			</div>
		</div>	
		<div class="col-lg-10 col-lg-offset-1">
			<div class="row">
				<div class="col-lg-12 cadre-status-message" ng-bind ="modalMessage"> </div>
				Sincerely, <br> Kesineni Nani 
			</div>
		</div>						
	</div>
