<div class="container-fluid cadre-list">
    <div class="close-overlay" ng-click="cancel()">X</div>
    <div class="row  list-header">
        <div class="col-md-10">
            <h3 class="page-header"><span ng-bind="addtask_cadre_title"></span></h3>
        </div>
    </div>
    <div class="row cadre-list-row" ng-hide="showNoRecordsMsg">
        <div ng-repeat="prime in primeIdList" class="col-md-12 cadre-list-item">
            <span ng-click="ok(prime)" style="cursor:pointer;"><strong>{{prime.taskCode}}</strong>&nbsp;&nbsp;{{prime.taskName}}</span>
        </div>
    </div>
    <div class="no-records row cadre-list-row" ng-show="showNoRecordsMsg">
        <div class="col-md-12 cadre-list-item">
            <span ng-bind="addtask_cadre_search"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 right">
            <button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>
