	
<div class="container-fluid registerOverlayContainer" style="height:500px;">
  <div class="row  list-header">
    <div class="col-md-12">
      <h3 class="page-header text-center" ng-bind="register_title">Registration Completed Successfully</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center" ng-bind="register_thanksmsg+register_successmsg">Thanks for signing up in the CDS Portal. Welcome to contribute in constituency development..</p>
    </div>
  </div>
	
<div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p class="text-center" style="margin-bottom:20px; font-size:10px; font-style:italic"> (To update your profile image, hover on image, click on browse, select the image, click on upload.)</p>
    </div>
  </div>
	
<div class="row">
    <div class="col-md-5 col-md-offset-4" image-preview-directive>
      <img id="previewHolder" src="images/img-placeholder.jpg" style="width:200px; height:200px; border:1px solid #ddd">
      
      <div style="width:200px; height:200px; background-color : rgba(0,0,0,0.4); position:absolute; top:0; left:15px;" ng-show="showLoader" id="uploaderOverlay">
        
        <div class="progress" style="position:absolute; bottom:64px;border-radius:0; width:100%" >
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{uploadPercentage}}">
            <span ng-bind="uploadStatusMsg"></span>
          </div>
        </div>
      </div>
      <div style="width:200px; height:200px; background-color : rgba(0,0,0,0.4); position:absolute; top:0; left:15px;" ng-show="showUploaderOverlay" id="uploaderOverlay">
        <button type="button" class="btn btn-success" style="top:45%;left:60px;position:absolute" id="uploadImageBtn">Browse</button>
      </div>
      <form method="post" enctype="multipart/form-data" action="/user/updateProfileImage" id="submitProfileImageForm" ng-submit="submitProfileImageForm($event)">
        <input type="file" name="profileInput" id="profileHandler" onchange="angular.element(this).scope().setProfileImage(this)" style="display:none" >
        <!-- <input type="submit" value="Submit"> -->
        
        <div id="uploadWrapper" class="text-center" style="margin-top:20px;">
          <input type="submit" class="btn btn-success" id="initiateUpload" value="Upload" style="">
          <input type="button" class="btn btn-success" id="imageReset" value="Continue" style="margin-left:20px;" ng-click="display()" >
          <!-- <input type="button" class="btn btn-success" id="imageReset" value="Reset" style="margin-left:20px;" > -->
        </div>
      </form>
    </div>
 </div>	
</div>
