<div class="container-fluid registerOverlayContainer">

    <div class="row  list-header">
        <div class="col-md-10">
            <h3 class="page-header"><span ng-bind="register_title"></span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <p><span ng-bind="register_thanksmsg"></span></p>
            <p><span ng-bind="register_successmsg"></span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 right">
            <button type="button" class="btn btn-primary" ng-click="display()">Continue</button>
        </div>
    </div>
</div>
