<div class="container-fluid cadre-list">
	
	<!-- <div class="close-overlay" ng-click="cancel()">X</div>
 -->
	<div class="row  list-header">
		<div class="col-md-10">
			<h3 class="page-header">Your session has expired.</h3>
		</div>
	</div>
	


	<div class="no-records row cadre-list-row" >
		<div class="col-md-12 cadre-list-item">
			<span> Please click on continue to signin back...</span>
		</div>
	</div>


	

	<div class="row">
		<div class="col-md-3 right">
			<button type="button" class="btn btn-primary" ng-click="cancel()">Continue</button>
		</div>
	</div>

		
</div>