<form name="changepassword" id="changepasswordForm" ng-submit="changepasswordCtrl.save()">
    <div class="container">
        <div class="row" ng-hide="changepasswordCtrl.hidesuccessMsg">
            <div class="col-lg-12">
                <div class="alert alert-success" style="margin-top:20px">
                    {{changepasswordCtrl.successMsg}}
                </div>
            </div>
        </div>
        <div class="row" ng-hide="changepasswordCtrl.hideForm">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Change Password</h1>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="inline right-responsive reg-label">New Password:</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="password" class="form-control required" ng-model="changepasswordCtrl.user.password" data-val="newPassword" data-eq="password" />
                    </div>
                    <div class="col-lg-9 right">
                        <div class="error-class">
                            <div class="error-content"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label class="inline right-responsive reg-label">Confirm Password:</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="password" ng-model="changepasswordCtrl.user.newpassword" data-eq="password" class="form-control required" />
                    </div>
                    <div class="col-lg-9 right">
                        <div class="error-class">
                            <div class="error-content"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 "></div>
                    <div class="col-lg-6  button-wrapper">
                        <input type="submit" class="btn button" value="Submit" id="forgotpwdFormSubmission" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
