<div class="jumbotron">
	  <div class="row dashboard-container">       
      <!-- <div class="large-8 columns padding-none"><img src="images/graph-Img3.jpg" alt="graph3" /></div> -->
      <div class="row tasks-section">
      <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
        <li>
          <ul class="task-desc">
            <li><h6>Assigned tasks</h6></li>
            <li>
              <div class="row">
                <div class="large-4 columns">R1321</div>
                <div class="large-7 columns">Request for Adhar</div>
                <div class="large-4 columns">20/2/15</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-4 columns"><img src="images/arrow-top.png" />R1322</div>
                <div class="large-7 columns">Request for ligiting</div>
                <div class="large-4 columns">21/2/15</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-4 columns">R1323</div>
                <div class="large-7 columns">Request for Roads</div>
                <div class="large-4 columns">22/2/15</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-4 columns">R1324</div>
                <div class="large-7 columns">Request for Cleaning</div>
                <div class="large-4 columns">23/2/15</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-4 columns">R1325</div>
                <div class="large-7 columns">Request for voter card</div>
                <div class="large-4 columns">24/2/15</div>
              </div>
            </li>
            <li>
              <div>
                <div class="large-4 columns previous-link"><img src="images/previous.png"/></div>
                <div class="large-7 columns page-nation">12 to 18 of 20</div>
                <div class="large-4 columns next-link"><img src="images/next.png"/> </div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <ul class="task-desc">
            <li><h6>Tasks on Hold</h6></li>
            <li>
              <div class="row">
                <div class="large-4 columns"><img src="images/arrow-top.png" />R1421</div>
                <div class="large-7 columns">Request for Adhar</div>
                <div class="large-4 columns">10/3/15</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-4 columns">R1422</div>
                <div class="large-7 columns">Request for ligiting</div>
                <div class="large-4 columns">11/3/15</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-4 columns"><img src="images/arrow-top.png" />R1423</div>
                <div class="large-7 columns">Request for Roads</div>
                <div class="large-4 columns">12/3/15</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-4 columns">R1424</div>
                <div class="large-7 columns">Request for Cleaning</div>
                <div class="large-4 columns">13/3/15</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-4 columns">R1425</div>
                <div class="large-7 columns">Request for voter card</div>
                <div class="large-4 columns">14/3/15</div>
              </div>
            </li>
            <li>
              <div>
                <div class="large-4 columns previous-link"><img src="images/previous.png"/></div>
                <div class="large-7 columns page-nation">12 to 18 of 20</div>
                <div class="large-4 columns next-link"><img src="images/next.png"/> </div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <ul class="task-desc">
            <li><h6>Unassinged Tasks</h6></li>
            <li>
              <div class="row">
                <div class="large-4 columns">R1521</div>
                <div class="large-7 columns">Request for Adhar</div>
                <div class="large-4 columns">01/4/15</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-4 columns">R1522</div>
                <div class="large-7 columns">Request for ligiting</div>
                <div class="large-4 columns">02/4/15</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-4 columns">R1523</div>
                <div class="large-7 columns">Request for Roads</div>
                <div class="large-4 columns">03/4/15</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-4 columns"><img src="images/arrow-top.png" />R1524</div>
                <div class="large-7 columns">Request for Cleaning</div>
                <div class="large-4 columns">04/4/15</div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="large-4 columns">R1525</div>
                <div class="large-7 columns">Request for voter card</div>
                <div class="large-4 columns">05/4/15</div>
              </div>
            </li>
            <li>
              <div>
                <div class="large-4 columns previous-link"><img src="images/previous.png"/></div>
                <div class="large-7 columns page-nation">12 to 18 of 20</div>
                <div class="large-4 columns next-link"><img src="images/next.png"/> </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div> 
    <div class="calender-section">
      <div class="row">
        <div class="large-8 columns">
          <h6>Calender</h6>
        </div>
        <div class="large-8 columns">
          <a href="#" class="right calender-link">View my full Calender</a>
        </div>
      </div>
      <div class="row calender-items-sec">
        <div class="calender-events-sec">
          <!-- <div class="left">a</div> -->
          <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4 events-sec">
            <li>
              <div class="arrow-left"></div>
              <div class="row margin-padding-none">
                <div class="large-5 columns time-sec active-event">
                    <h4 class="schedule-time active-content">12:30PM<span class="status active-content">Today</span></h4>
                </div>
                <div class="large-11 columns active-event-meeting">
                    <p>General body Meeing at Vijayawada office</p>
                </div>
              </div>
            </li>
            <li>
              <div class="row margin-padding-none">
                <div class="large-5 columns time-sec non-active-event non-active-event1">
                    <h4 class="schedule-time active-content">01:30 PM <span class="status">26/04/2015</span></h4>
                </div>
                <div class="large-11 columns ">
                    <p>Party Meeting at Camp Office</p>
                </div>
              </div>
            </li>
            <li>
              <div class="row margin-padding-none">
                <div class="large-5 columns time-sec non-active-event non-active-event2">
                    <h4 class="schedule-time active-content">05:30 PM <span class="status">28/04/2015</span></h4>
                </div>
                <div class="large-11 columns ">
                    <p>Visiting Camp Office in Vijayawada</p>
                </div>
              </div>
            </li>
            <li class=" border-none">
              <div class="row margin-padding-none">
                <div class="large-5 columns time-sec non-active-event non-active-event3">
                    <h4 class="schedule-time active-content">08:30 PM <span class="status">30/04/2015</span></h4>
                </div>
                <div class="large-11 columns ">
                    <p>Meeing on Budget Allocation</p>
                </div>
              </div>
              <div class="arrow-right"></div>
            </li>
          </ul>
          <!-- <div class="right">a</div> -->
        </div>
      </div>
    </div>
    <div class="large-8 columns padding-none"><h6>Open & Closed</h6><img src="images/graph-Img4.jpg" alt="graph3" /></div>
    <div class="large-8 columns padding-none"><h6>Overall Trend</h6><img src="images/graph-Img3.jpg" alt="graph3" /></div>
       
    </div>
</div>