<div class="row" id="app-wrapper">
	<h1>Profile Information</h1>
	<div class="content-wrapper">		
		<div class="row" style="font-size:13px;">
			<div class="large-16 columns">
				
			<div class="large-12 columns" >
				
				<!-- User profile section -->
				<div class="member-info row" style="margin-left:0px; margin-bottom:10px;">
					<strong><span class="left" ng-bind="profileCtrl.user.firstName+'  '+profileCtrl.user.lastName"></span></strong></div>
				
				<div class="row">
					<div class="large-16 columns">
						<div class="large-4 columns"> User/Login Name :</div>
						<div class="columns large-1">:</div><div class="large-4 columns left">
						<span ng-bind="profileCtrl.user.age"></span> / <span ng-bind="profileCtrl.user.loginId"></span></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns"> Age/Gender :</div>
						<div class="columns large-1">:</div><div class="large-4 columns left">
						<span ng-bind="profileCtrl.user.age"></span> / <span ng-bind="profileCtrl.user.gender"></span></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns"> Date of Birth :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.dateOfBirth">Date of Birth</div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns"> Aadhar ID :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.aadharId">aadharId</div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns"> Mobile :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.mobileNumber">+91 8886867695</div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns"> Email :</div><div class="columns large-1">:</div><div class="large-4 columns left"><a href="mailto:{{viewCtrl.user.emailId}}" ng-bind="profileCtrl.user.emailId">snarala@outlook.com</a></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">  Skype Id :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.skypeId">saudam</div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns"> Marital status :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.maritalStatus">martialStatus</div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns"> Education :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.education.qualification">martialStatus</div>
					</div>
				</div>
				<!-- /User profile section -->

				<div  class="large-16 columns accordion" accordion>
				<!-- WORKING INFO section -->
				<div class="row accordion-head member-info" style="margin-top:10px; margin-left:0px; margin-bottom:10px;"> 
					<strong><span class="left">WORKING INFO</span></strong>
				</div>
				<div class="row accordion-content">
					<div class="large-16 columns">
						<div class="large-4 columns"> Occupation :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.workInformation.occupation.occupationName"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns"> Working Organization :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.workInformation.workingOrganization"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns"> Working Location :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.workInformation.workingLocation"></div>
					</div>
				</div>
				<!-- /WORKING INFO section -->

				<!-- Voter INFO section -->
				<div class="row accordion-head member-info" style="margin-top:10px; margin-left:0px; margin-bottom:10px;"> 
					<strong><span class="left">VOTER INFO</span></strong>
				</div>
				<div class="row accordion-content">
					<div class="large-16 columns">
						<div class="large-4 columns"> Voter Card Id :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.voter"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns"> AddressLine1 :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.voter"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">  AddressLine2  :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.voter"></div>
					</div>
				</div>
				<!-- /Voter INFO section -->

				<!-- Residential INFORMATION -->

				<div class="row accordion-head member-info" style="margin-top:10px; margin-left:0px; margin-bottom:10px;"> 
					<strong><span class="left">RESIDENTIAL INFO</span></strong>
				</div>
				<div class="row accordion-content">
					<div class="large-16 columns">
						<div class="large-4 columns">  AddressLine1  :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.userAddresses[0].addressLine1"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">  AddressLine2  :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.userAddresses[0].addressLine2"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns"> Taluk  :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.userAddresses[0].postalAddress.taluk"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">  Division  :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.userAddresses[0].postalAddress.divisionName"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">  District  :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.userAddresses[0].postalAddress.district"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">  Village  :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.userAddresses[0].postalAddress.officeName"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">  Pincode  :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.userAddresses[0].postalAddress.pincodeNumber"></div>
					</div>
				</div>

				<!-- /Residential INFORMATION -->

				 <!-- Volunteer INFO section -->
				 <div class="row accordion-head member-info" style="margin-top:10px; margin-left:0px; margin-bottom:10px;"> 
					<strong><span class="left">VOLUNTEER INFO</span></strong>
				</div>
				<div class="row accordion-content">
					<div class="large-16 columns">
						<div class="large-4 columns">  Volunteer ID :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.volunteerId"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">Are you interested in Volunteer work :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.volunteer.volunteerId"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">  Which areas are you interested to Volunteer :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.volunteer.volunteerInterestedAreas[0].interestId"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">  Volunteer Category :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.volunteer.volunteerCategory.voluteerCatergoryId"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">   Lead Id :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.volunteer.volunteerLeadId"></div>
					</div>
					
					<div class="large-16 columns">
						<div class="large-4 columns"> Performance Grade:</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.volunteer.performanceGradeId"></div>
					</div>
				</div>
				 <!-- /Volunteer INFO section -->

				 <!-- FAMILY INFORMATION -->

				<div class="row accordion-head member-info" style="margin-top:26px; margin-left:0px; margin-bottom:10px;"> 
					<strong><span class="left">FAMILY INFO</span></strong>
				</div>
				<div class="row accordion-content">
					<div class="large-16 columns">
						<div class="large-4 columns">   Spouse Name :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.partyMembershipId"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">  Marriage Date :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.partyMembershipId"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">   Gender :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.gender"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">  Date of Birth:</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.dateOfBirth"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">  Education:</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.education.qualification"></div>
					</div>
				</div>

				<!-- /FAMILY INFORMATION -->

				<!-- CADRE section -->
				<div class="row accordion-head" style="margin-top:10px; margin-left:0px; margin-bottom:10px;"> 
					<strong><span class="left">CADRE</span></strong>
				</div>
				<div class="row accordion-content">
					<div class="large-16 columns">
						<div class="large-4 columns"> Party Membership :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.partyMembershipId"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns"> Position in the Party :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.bloodGroup"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns"> Responsibility in the Party :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.bloodGroup"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">  Health Insured :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.healthInsurance"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns"> Life Insured :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.lifeInsurance"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">  Blood Group :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.bloodGroupId"></div>
					</div>
					<div class="large-16 columns">
						<div class="large-4 columns">  Performance Grade :</div><div class="columns large-1">:</div><div class="large-4 columns left" ng-bind="profileCtrl.user.bloodGroup"></div>
					</div>
				</div>
				<!-- /CADRE section -->
				</div>

			</div>
			<div class="large-4 columns members">
				<img src="images/profile/11.jpg" title="members"  class="photo1"/>
			</div>
			<!-- <div class="large-16 columns">
				<div class="row edit-profile">
					<div class="large-4 columns">
						<ul>
							<li>Personal</li>
							<li>Work Information</li>
							<li>Voter Information</li>
							<li>Volunteer</li>
							<li>Family</li>
							<li>Cadre</li>
						</ul>
					</div>
					<div class="large-12 columns">
						12 columns
					</div>
				</div>
			</div> -->
		</div>












		<div id="additionalDetails" style="display:none; font-size:13px; margin-bottom:20px">
			<div class="row">
				<div class="large-3 columns"> Village</div><div class="columns large-1">:</div><div class="large-4 columns left">Jakkampet</div>
			</div>
			<div class="row">
				<div class="large-3 columns"> Ward</div><div class="columns large-1">:</div><div class="large-4 columns left">Ward 10</div>
			</div>
			<div class="row">
				<div class="large-3 columns">Division</div><div class="columns large-1">:</div><div class="large-4 columns left">Division 2</div>
			</div>
			<div class="row">
				<div class="large-3 columns">Municipality</div><div class="columns large-1">:</div><div class="large-4 columns left">Vijayawada</div>
			</div>
			<div class="row">
				<div class="large-3 columns">Corporation</div><div class="columns large-1">:</div><div class="large-4 columns left">Vijayawada</div>
			</div>
			<div class="row">
				<div class="large-3 columns">Volunteer Category</div><div class="columns large-1">:</div><div class="large-4 columns left">Member</div>
			</div>
			<div class="row">
				<div class="large-3 columns">Current Performance</div><div class="columns large-1">:</div><div class="large-4 columns left">B</div>
			</div>
		</div>
	<!-- 	<div class="row">
			<div class="large-16 columns">
				
				<div class="row" style="margin-top :20px;margin-bottom :20px;">
					<div class="large-4 columns">  <h6>Task List</h6></div><div class="columns large-1"></div><div class="large-4 columns left"></div>
				</div>
				<table cellspacing="0" class="view-memeber-work-sheet ng-scope" style="border:1px solid #000">
					<thead>
						<tr>
							<th width="80">Id</th>
							<th width="150">Name of the Task</th>
							
							<th>Location</th>
							<th width="140">Assigned Date</th>
							<th width="130">Target Date</th>
							<th width="130">Created By</th>
							<th width="150">Status</th>
							<th width="140">Age of Task</th>
							<th width="100">Reasons for Delay</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								T158023
							</td>
							<td>Collect bills</td>
							<td>Vijayawada</td>
							<td>21/04/2015</td>
							<td>27/04/2015</td>
							<td>Office</td>
							<td><img src="images/tick-mark.png">Completed</td>
							<td>3</td>
							<td></td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div> -->
	</div>
</div>