<div class="auth-header">
      <div class="row">
  <div class="large-7 small-7 columns phone">
          Office:  +1234567890
        </div>
        <div class="large-9 small-9 columns top-nav">
          <nav>
            <ul class="right">
              <li><a href="/" class="home">Home</a></li>
              <li><a href="#" class="help">Help</a></li>
              <li><a href="#" class="my-account">My Account</a></li>
              <li><a href="postrequest" class="post">Post a Request</a></li>
              <li><a href="/signout" class="logout">Logout</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row navigation">
        <nav class="top-bar" data-topbar="">
          <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
              <a href="#/"><h1 class="logo"></h1></a>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="">&nbsp;</a></li>
          </ul>
          
        <section class="top-bar-section clear" style="left: 0%;">
            <ul class="right">
              <li><a href="#">Constituency</a></li>
              <li class="active"><a href="#/list">Manage</a></li>
              <li><a href="#">Issues</a></li>
              <li class="has-dropdown not-click"><a href="#">Relationship</a>
                <ul class="dropdown subnav-left">
                  <li class="title back js-generated"><a href="javascript:void(0)">Back</a></li>
                  <li class="mobile-option"><a href="#">Home</a></li>
                  <li><a href="#">Opportunities</a></li>
                </ul>
              </li>
              <li><a class="last" href="#">Services</a></li>
              <li class="mobile-option"><a href="#">Operations</a></li>
              <li class="mobile-option"><a href="#">Configuration</a></li>
            </ul>
          </section>
          </nav>
    </div>
</div>