
      <div class="row">
        <div class="large-4 columns padding-none"><input type="text" class="subscribe" value="Enter your Email to Subscribe"></div>
        <div class="large-1 columns padding-none"><input type="button" class="subscribe-btn " value=" "></div>
        <div class="large-4  columns social">
          Let’s connect :  <img src="images/fbIcon.png" alt="fb" /> <img src="images/twitterIcon.png" alt="twitter" />  <img src="images/rssIcon.png" alt="RSS" />  
        </div>
      </div>
      <div class="row">
        <div class="line"></div>
      </div>
        <div class="row">
        <div class="large-11 medium-8 small-16 columns padding-none">
          <a href="#">Sitemap</a> 
          <a href="#">Terms of use</a> 
          <a href="#">Privacy</a>
        </div>
        <div class="large-5 medium-8 small-16 columns copy-rights">Copy rights. All rights reserved © 2015.</div>
      </div>
