<div class="home">
 <div class="headerMobile">
   <div class="row">
      <div class="large-8 small-8 columns phone">
        Office:  +1234567890
      </div>
      <div class="large-5 small-8 columns register-signin padding-none">
        <nav>
          <ul>
            <li><a href="#" class="">A A- A+ </a></li>              
            <li><a href="#signin" class="signin">Register</a></li>
            <li><a href="/signin" class="signin">Sign In</a></li>
          </ul>
        </nav>
      </div>
  </div>
</div>
<div class="headerLogo">
  <div class="row logo">
      <div class="large-13 small-9 columns padding-none">
        <a href="/"><img src="images/logo.jpg" alt="logo" /></a>
      </div>
      <div class="large-3 small-7 columns padding-none">
        <a href="register" class="post-issue right">Post a Request</a>
      </div>
  </div>
</div>
    <div class="home-navigation">
      <div class="row">
        <nav class="top-bar" data-topbar="">
          <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
              <a href="index.html"><h1 class="logo"></h1></a>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="">&nbsp;</a></li>
          </ul>
          
        <section class="top-bar-section clear" style="left: 0%;">
            <ul>
              <li><a href="#knowyourmp">Know your MP</a></li>
              <li><a href="#parliament">Parliament</a></li>
              <!--li class="has-dropdown not-click"><a href="solutions-services.html">Solutions &amp; Services</a>
                <ul class="dropdown subnav-left"><li class="title back js-generated"><a href="javascript:void(0)">Back</a></li>
                  <li class="mobile-option"><a href="solutions-services.html">Solutions &amp; Services - Home</a></li>
                  <li><a href="application-integration.html">Application Integration</a></li>
                  <li><a href="enterprise-applications.html">Enterprise Applications</a></li>
                  <li><a href="enterprise-analytics.html">Analytics</a></li>
                  <li><a href="mobility-solutions.html">Mobility Solutions</a></li>
                  <li><a href="quality-assurance.html">Quality Assurance</a></li>
                  <li><a href="managed-services.html">Managed Services</a></li>
                </ul>
              </li-->
              <li><a href="#aboutconstituency">About Constituency</a></li>
              <li class="has-dropdown not-click"><a href="#vision">Vision & Mission</a></li>
              <li class="has-dropdown not-click"><a href="#initiatives">My Initiatives</a>
                <ul class="dropdown subnav-left">
                  <li class="title back js-generated"><a href="javascript:void(0)">Back</a></li>
                  <li class="mobile-option"><a href="#">Home</a></li>
                  <li><a href="#">Opportunities</a></li>
                </ul>
              </li>
              <li class="has-dropdown not-click"><a href="#gallery">Gallery</a>
                <ul class="dropdown subnav-left">
                  <li class="title back js-generated"><a href="javascript:void(0)">Back</a></li>
                  <li class="mobile-option"><a href="#">Home</a></li>
                  <li><a href="#">Opportunities</a></li>
                </ul>
              </li>
              <li class="has-dropdown not-click"><a href="#contactus">Contact Us</a>
                <ul class="dropdown subnav-left">
                  <li class="title back js-generated"><a href="javascript:void(0)">Back</a></li>
                  <li class="mobile-option"><a href="#">Home</a></li>
                  <li><a href="#">Opportunities</a></li>
                </ul>
              </li>
            </ul>
          </section>
          </nav>
        </div>
    </div>
    </div>