    
  <div class="row">
        <div class="large-8 small-8 columns phone">
          Office:  +1234567890
        </div>
        <div class="large-5 small-8 columns register-signin padding-none">
            <nav>
              <ul>
                <li><a href="#" class="none">A A- A+ </a></li>
                <li><a href="/register" class="register">Register</a></li>
                <li><a href="/signin" class="signin">Sign In</a></li>
                <li><a href="/#contactus" class="contactus">Contact Us</a>
              </ul>
            </nav>
          </div>
      </div>
      <div class="headerMobile">
        <div class="row">
           <div class="large-8 small-8 columns phone">
            Office:  +1234567890
          </div> 

          <div class="large-5 small-8 columns register-signin padding-none">
            <nav>
              <ul>
                <li><a href="#" class="none">A A- A+ </a></li>
                <li><a href="/register" class="register">Register</a></li>
                <li><a href="/signin" class="signin">Sign In</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="headerLogo">
        <div class="row">
          <div class="large-5 small-8 columns padding-none">
            <a href="/" class="logo"><img src="images/logo.png" alt="logo" /></a>
          </div>
          <div class="large-11 small-8 columns navigation padding-none">
            <nav class="top-bar" data-topbar="">
            <ul class="title-area">
              <!-- Title Area -->
              <li class="name">
                &nbsp;
              </li>
              <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
              <li class="toggle-topbar menu-icon"><a href="">&nbsp;</a></li>
            </ul>
            
            <section class="top-bar-section clear" style="left: 0%;">
              <ul>
                <li><a href="/#knowyourmp">Know your MP</a></li>
                <li><a href="/#parliament">In Parliament</a></li>
              <li><a href="/#aboutconstituency">About Constituency</a></li>
              <li class=""><a href="/#mission-vision">Vision & Mission</a></li>
              <li class=""><a href="/#initiatives">My Initiatives</a></li>
              <li class=""><a href="/#gallery">Gallery</a></li>
            </ul>
          </section>
        </nav>
          </div>
        </div>
      </div>
