<form name="task" id="myTaskForm" ng-submit="addTaskCtrl.save()">
    <div id="app-wrapper">
	   <div class="row">
    	<h1>Add a Task</h1>
		  <div class="large-12 columns formContent">			
      <div class="row">
        <div class="large-4 columns">
          <label for="right-label" class="right inline">Task Id:</label>
        </div>
        <div class="large-12 columns left">
          <input type="text" id="Tilte" disabled="" class="input" name="title" ng-model="addTaskCtrl.user.taskCategoryId">         
        </div>      
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label for="right-label" class="right inline">Assign To:</label>
        </div>
        <div class="large-12 columns left">
          <input type="text" id="Tilte" class="input requestor" name="title" ng-model="">         
        </div>      
      </div>
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Task Name:</label>
				</div>
				<div class="large-12 columns left">
					<input type="text" id="Tilte" class="input" name="title" ng-model="addTaskCtrl.user.taskName">					
				</div>			
			</div>
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Description:</label>
				</div>
				<div class="large-12 columns left">
					<textarea id="description" class="input" name="description" ng-model="addTaskCtrl.user.taskDescription"></textarea>					
				</div>				
			</div>
      <div class="row">
        <div class="large-4 columns">
          <label for="right-label" class="right inline">Priority:</label>
        </div>
        <div class="large-6 columns left">
          <select ng-model="addTaskCtrl.user.priorityId">
            <option>Select</option>
            <option>High</option>
            <option>Medium</option>
            <option>Low</option>
          </select>         
        </div>      
      </div>
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Specify Location:</label>
				</div>
				<div class="large-12 columns left">
					<input type="text" id="location" class="input" name="location" ng-model="addTaskCtrl.user.location">					
				</div>				
			</div>
      <div class="row">
        <div class="large-4 columns">
          <label for="right-label" class="right inline">Target Date:</label>
        </div>
        <div class="large-12 columns left">
          <input type="text" id="Tilte" name="title" class="input calender-icon" ng-model="addTaskCtrl.user.taskWorkAllocation.toDate">          
        </div>        
      </div>
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Prime ID#:</label>
				</div>
				<div class="large-12 columns left">
					<input type="text" id="parentId" class="input" name="parentId" ng-model="addTaskCtrl.user.taskWorkAllocation.citizenId">					
				</div>				
			</div>
      <div class="row">
        <div class="large-4 columns">
          <label for="right-label" class="right inline">Attachments:</label>
        </div>
        <div class="large-10 columns left">
          <input type="file" name="photograph" id="profilePhoto" ng-model="addTaskCtrl.user.taskAttachments.attachmentName">
          <div>
            <input type="text" style="background-color:#fff; width:40%" disabled="" class="form-control mock-input">
            <span tabindex="0" class="group-span-filestyle input-group-btn mock-browse">
            <label for="filestyle-1" class="btn btn-default ">Browse</label>
            </span>
          </div>
        </div>       
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label for="right-label" class="right inline">Additional Comments:</label>
        </div>
        <div class="large-12 columns left">
          <textarea id="description" class="input" name="description" ng-model="addTaskCtrl.user.comments"></textarea>         
        </div>        
      </div>
			<div class="row">
				<div class="large-4 columns">&nbsp;
				</div>
				<div class="large-12 columns left">
					<button class="radius small button submit left">Save</button>
					<a class="radius small button cancel left" href="/tasks">Back</a>
				</div>
			</div>
		</div>
	</div>
</div>
</form>
