<form name="viewTask" id="viewTaskForm" ng-submit="viewTaskCtrl.save()">
<section id="appSection">      
      <div class="row content view-tasks">
        <div class="large-12 medium-12 small-16 columns">
            <div class="row collapse">
              <div class="large-16 columns">
                <h6>View Task</h6>
              </div>
            </div>
            <div class="row tasks-list collapse">
              <div class="large-16 columns task-title" >
                {{viewTaskCtrl.taskDetails.taskName}} 
                <div class="right">
                  <button class="submit">Update</button>
                </div>               
              </div>
              <div class="large-16 columns">
                <div class="task-details">
                  <ul class="large-block-grid-3">
                    <li>Status: 
                                      
                     <select ng-model="viewTaskCtrl.taskDetails.taskWorkAllocation.statusId" ng-options="taskStatus.statusId as  taskStatus.statusName for taskStatus in viewTaskCtrl.taskStatuses">
                        <option>Select Status</option>            
                      </select>
                    </li>
                    <li>Priority: 
                      <select ng-model="viewTaskCtrl.taskDetails.taskWorkAllocation.priorityId" ng-options="taskPriority.priorityId as  taskPriority.priorityName for taskPriority in viewTaskCtrl.taskPriorities">
                            <option>Select Priority</option>            
                      </select>
                    </li>
                    <li>Assigned to:
                      <select ng-model="viewTaskCtrl.taskDetails.taskWorkAllocation.priorityId" ng-options="taskPriority.priorityId as  taskPriority.priorityName for taskPriority in viewTaskCtrl.taskPriorities">
                            <option>Select Priority</option>            
                      </select>
                    </li>
                    <li>Assigned Date:  <input type="text" class="calender" ng-model="viewTaskCtrl.taskDetails.taskWorkAllocation.assignDate"/>
                    </li>
                    <li>Target Date:  <input type="text" class="calender" ng-model="viewTaskCtrl.taskDetails.taskWorkAllocation.toDate" />
                    </li>
                    <li>Work Location: 
                      <input type="text" ng-model="viewTaskCtrl.taskDetails.location" />
                      
                    </li>
                  </ul>
                </div>
            </div>
            <div class="large-16 columns task-description">
              <h6>Description</h6>
              <p>{{viewTaskCtrl.taskDetails.taskDescription}}</p> 
            </div>
            <div class="large-16 columns attachements">
              <h6>Attachements</h6>
              <ul class="large-block-grid-3">
                    <li>Status: </li>
                    <li>Priority: </li>
                    <li>Assigned to: </li>
                  </ul>
            </div>
              <div class="large-16 columns comments">
                <h6>Comments</h6>
                <div class="head">
                  <a href="#" class="add-comments">Add Comments</a>
                  <a href="#" class="attachments">Attachments</a>
                </div>
              </div>
              <div class="large-16 columns comments-list">
                <ul ng-repeat="comment in viewTaskCtrl.taskDetails.comments">
                  <li>
                    <div class="info">{{comment.commentedByFN+" "+comment.commentedByLN}} <span class="right">{{comment.commentedOn}}</span></div>
                    <p>{{comment.commentDescription}}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>


          <div class="large-4 medium-12 small-16 columns">
            <div class="user-information">
              <div class="arrow"></div>
              <h5>{{viewTaskCtrl.taskDetails.taskWorkAllocation.firstName+" "+viewTaskCtrl.taskDetails.taskWorkAllocation.lastName}}</h5>
                <img src="images/image.png" />
                <div class="details">
                  <ul>
                    <li>Age/Gender: <span>{{viewTaskCtrl.taskDetails.taskWorkAllocation.age}}  {{viewTaskCtrl.taskDetails.taskWorkAllocation.gender}}</span>
                    </li>
                    <li>Phone: <span>{{viewTaskCtrl.taskDetails.taskWorkAllocation.phoneNumber}}</span></li>
                    <li>Email: <span>{{viewTaskCtrl.taskDetails.taskWorkAllocation.emailId}}</span></li>
                    <li>Location: <span>{{viewTaskCtrl.taskDetails.location}}</span></li>
                    <li>Constituency: <span>{{viewTaskCtrl.taskDetails.taskWorkAllocation.constituency}}</span>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
      </div>
</section>
</form>