<section id="appSection">
      
      <div class="row content view-tasks">
        <div class="large-12 medium-12 small-16 columns">
            <div class="row collapse">
              <div class="large-16 columns">
                <h6>View Task</h6>
              </div>
            </div>
            <div class="row tasks-list collapse">
              <div class="large-16 columns task-title">
                0123  Task Title / Request Title
              </div>
              <div class="large-16 columns">
                <div class="task-details">
                  <ul class="large-block-grid-3">
                    <li>Status:  <select><option>In-Progress</option> <option>Open</option> <option>Closed</option></select></li>
                    <li>Priority:  <select><option>Medium</option> <option>Low</option> <option>High</option></select></li>
                    <li>Assigned to:  <select><option>R Rao</option> <option>S Steve</option> <option>John</option></select></li>
                    <li>Assigned Date:  <input type="text" class="calender" /></li>
                    <li>Target Date:  <input type="text" class="calender" /></li>
                    <li>Work Location:  <select><option>Vijayawada</option> <option>Hyderabad</option></select></li>
                  </ul>
                </div>
            </div>
            <div class="large-16 columns task-description">
              <h6>Description</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin neque ac posuere ornare. Proin velit enim, consequat quis lo quis, actor molestie mauris. Nam arius. Proin velit enim, consequat quis lo quis, actor molestie mauris. Nam varius.</p> 
            </div>
            <div class="large-16 columns attachements">
              <h6>Attachements</h6>
              <ul class="large-block-grid-3">
                    <li>Status: </li>
                    <li>Priority: </li>
                    <li>Assigned to: </li>
                  </ul>
            </div>
              <div class="large-16 columns comments">
                <h6>Comments</h6>
                <div class="head">
                  <a href="#" class="add-comments">Add Comments</a>
                  <a href="#" class="attachments">Attachments</a>
                </div>
              </div>
              <div class="large-16 columns comments-list">
                <ul>
                  <li>
                    <div class="info">Srinivas <span class="right">25/03/2014</span></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin neque ac posuere ornare. Proin velit enim, consequat quis lo quis, actor molestie mauris. </p>
                  </li>
                  <li>
                    <div class="info">Srinivas <span class="right">25/03/2014</span></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin neque ac posuere ornare. Proin velit enim, consequat quis lo quis, actor molestie mauris. </p>
                  </li>
                  <li>
                    <div class="info">Srinivas <span class="right">25/03/2014</span></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin neque ac posuere ornare. Proin velit enim, consequat quis lo quis, actor molestie mauris. </p>
                  </li>
                  <li>
                    <div class="info">Srinivas <span class="right">25/03/2014</span></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin neque ac posuere ornare. Proin velit enim, consequat quis lo quis, actor molestie mauris. </p>
                  </li>
                  <li>
                    <div class="info">Srinivas <span class="right">25/03/2014</span></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin neque ac posuere ornare. Proin velit enim, consequat quis lo quis, actor molestie mauris. </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>


          <div class="large-4 medium-12 small-16 columns">
            <div class="user-information">
              <div class="arrow"></div>
              <h5>Srinivas Kongara</h5>
                <img src="images/image.png" />
                <div class="details">
                  <ul>
                    <li>Age/Gender <span>29 Male</span></li>
                    <li>Phone <span>123456789</span></li>
                    <li>Email <span>abcd@gmail.com</span></li>
                    <li>Location <span>Benz Circle</span></li>
                    <li>Constituency <span>Vijayawada</span></li>
                  </ul>
                </div>
            </div>
          </div>
      </div>
</section>