<form name="cadre" id="cadreRegistrationForm" ng-submit="cadreCtrl.save()">
    <div class="row rightContent">
        <div class="col-md-12 formContent">
            <div class="row" ng-if="cadreCtrl.isNotValidForm">
                <div class="col-md-8 right  error-class">Please ensure that all the required fields are valid.</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="right-label" class="right inline">Party Membership#:</label>
                </div>
                <div class="col-md-8 left">
                    <input type="text" id="membershipId" class="form-control input" name="membershipId" ng-model="cadreCtrl.user.cadre.partyMembershipId" data-val="partyMembershipId">
                    <div class="error-class">
                        <div class="error-content"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="right-label" class="right inline">Position in the Party:</label>
                </div>
                <div class="col-md-8 left">
                    <select id="position" name="position" class="form-control input" ng-model="cadreCtrl.user.cadre.positionId" data-val="positionId">
                        <option value="">Select Position</option>
                        <option value="1">Volunteer</option>
                        <option value="2">Leader</option>
                        <option value="3">President</option>
                        <option value="4">Local Leader</option>
                    </select>
                    <div class="error-class">
                        <div class="error-content"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="right-label" class="right inline">Responsibility in the Party:</label>
                </div>
                <div class="col-md-8 left">
                    <input type="text" id="partyResponsibility" class="form-control input" name="partyResponsibility" ng-model="cadreCtrl.user.cadre.partyResponsibility" data-val="partyResponsibility">
                    <div class="error-class">
                        <div class="error-content"></div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label for="right-label" class="right inline">Health Insured:</label>
                </div>
                <div class="col-md-8 left radioGroup">
                    <input type="radio" name="healthInsured" value="1" id="yes" ng-model="cadreCtrl.user.healthInsurance">
                    <label for="healthInsured">Yes</label>
                    <input type="radio" name="healthInsured" value="0" id="no" ng-model="cadreCtrl.user.healthInsurance">
                    <label for="healthInsured">No</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label for="right-label" class="right inline">Life Insured:</label>
                </div>
                <div class="col-md-8 left radioGroup">
                    <input type="radio" name="lifeInsured" value="1" id="yes" ng-model="cadreCtrl.user.lifeInsurance">
                    <label for="lifeInsured">Yes</label>
                    <input type="radio" name="lifeInsured" value="0" id="no" ng-model="cadreCtrl.user.lifeInsurance">
                    <label for="lifeInsured">No</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="right-label" class="right inline">Blood Group:</label>
                </div>
                <div class="col-md-8 left">
                    <select id="bloodGroup" name="bloodGroup" class="form-control input" ng-model="cadreCtrl.user.bloodGroupId" data-val="bloodGroupId">
                        <option value="0">Select Blood Group</option>
                        <option value="1">A +ve</option>
                        <option value="2">B +ve</option>
                        <option value="3">AB +ve</option>
                        <option value="4">O +ve</option>
                    </select>
                    <div class="error-class">
                        <div class="error-content"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="right inline">Performance Grade:</label>
                </div>
                <div class="col-md-8 right">
                    <select id="grade" class="form-control input" name="grade" ng-model="cadreCtrl.user.cadre.performanceGradeId" ng-options="grade.gradeId as grade.gradeDescription for grade in performanceGradeOptions">
                        <option value="">Select Performance Grade</option>
                    </select>
                    <div class="error-class">
                        <div class="error-content"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <button class="btn submit">Save as Cadre</button>
                    <button class="btn cancel" href="" ng-click="cadreCtrl.backview($event)">Back</button>
                </div>
            </div>
        </div>
    </div>
</form>
