<form name="cadre" id="cadreRegistrationForm" ng-submit="cadreCtrl.save()">
    <div class="row rightContent">
        <div class="col-md-12 formContent">
            <div class="row" ng-if="cadreCtrl.isNotValidForm">
                <div class="col-md-8 right  error-class">Please ensure that all the required fields are valid.</div>
            </div>
            <div class="row form-group" ng-hide="cadreCtrl.cadreFields">
                <div class="col-md-4">
                    <label for="left-label" class="right text-right">Enroll as Cadre:</label>
                </div>
                <div class="col-md-8">
                    <input type="radio" name="interested" value="1" ng-model="cadreCtrl.user.interestedAsCadre" id="interestedYes" ng-change="cadreCtrl.trackInterest(cadreCtrl.user.interestedAsCadre)">
                    <label for="interestedYes">Yes</label>
                    <input type="radio" name="interested" value="0" ng-model="cadreCtrl.user.interestedAsCadre" id="interestedNo" ng-change="cadreCtrl.trackInterest(cadreCtrl.user.interestedAsCadre)">
                    <label for="interestedNo">No</label>
                </div>
            </div>
            <div class="row" ng-hide="cadreCtrl.cadreFields">
                <div class="col-md-4 ">
                  <label for="left-label" class="right text-right">Do you have Party Membership Id:</label>
                    
                </div>
                <div class="col-md-8 gender">
                    <label for="existingcadre">
                        <input type="radio" name="cadreType" ng-model="cadreCtrl.user.cadre.cadreType" value="EXISTING" ng-change="cadreCtrl.trackCadreType()">Yes</label>
                    <label for="newcadre">
                        <input type="radio" name="cadreType" ng-model="cadreCtrl.user.cadre.cadreType" value="NEW" ng-change="cadreCtrl.trackCadreType()">No</label>
                </div>
                <div class="col-sm-9 right">
                    <div class="error-class">
                        <div class="error-content"></div>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="cadreCtrl.hideFields">
                <div class="col-md-4">
                    <label for="right-label" class="right inline">Party Membership#:</label>
                </div>
                <div class="col-md-8 left">
                    <input type="text" id="membershipId" class="form-control input" name="membershipId" ng-model="cadreCtrl.user.cadre.partyMembershipId" data-val="partyMembershipId">
                    <div class="error-class">
                        <div class="error-content"></div>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="cadreCtrl.hideFields">
                <div class="col-md-4">
                    <label for="right-label" class="right inline">Position in the Party:</label>
                </div>
                <div class="col-md-8 left">
                    <select id="position" name="position" class="form-control input" ng-model="cadreCtrl.user.cadre.positionId" data-val="positionId" ng-disabled="cadreCtrl.disableFields">
                        <option value="">Select Position</option>
                        <option value="1">Volunteer</option>
                        <option value="2">Leader</option>
                        <option value="3">President</option>
                        <option value="4">Local Leader</option>
                    </select>
                    <div class="error-class">
                        <div class="error-content"></div>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="cadreCtrl.hideFields">
                <div class="col-md-4">
                    <label for="right-label" class="right inline">Responsibility in the Party:</label>
                </div>
                <div class="col-md-8 left">
                    <input type="text" id="partyResponsibility" class="form-control input" name="partyResponsibility" ng-model="cadreCtrl.user.cadre.partyResponsibility" data-val="partyResponsibility" ng-disabled="cadreCtrl.disableFields">
                    <div class="error-class">
                        <div class="error-content"></div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label for="right-label" class="right inline">Health Insured:</label>
                </div>
                <div class="col-md-8 left radioGroup">
                    <input type="radio" name="healthInsured" value="1" id="yes" ng-model="cadreCtrl.user.healthInsurance">
                    <label for="healthInsured">Yes</label>
                    <input type="radio" name="healthInsured" value="0" id="no" ng-model="cadreCtrl.user.healthInsurance">
                    <label for="healthInsured">No</label>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label for="right-label" class="right inline">Life Insured:</label>
                </div>
                <div class="col-md-8 left radioGroup">
                    <input type="radio" name="lifeInsured" value="1" id="yes" ng-model="cadreCtrl.user.lifeInsurance">
                    <label for="lifeInsured">Yes</label>
                    <input type="radio" name="lifeInsured" value="0" id="no" ng-model="cadreCtrl.user.lifeInsurance">
                    <label for="lifeInsured">No</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="right-label" class="right inline">Blood Group:</label>
                </div>
                <div class="col-md-8 left">
                    <select id="bloodGroup" name="bloodGroup" class="form-control input" ng-model="cadreCtrl.user.bloodGroupId" data-val="bloodGroupId">
                        <option value="0">Select Blood Group</option>
                        <option value="1">A +ve</option>
                        <option value="2">B +ve</option>
                        <option value="3">AB +ve</option>
                        <option value="4">O +ve</option>
                    </select>
                    <div class="error-class">
                        <div class="error-content"></div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="cadreCtrl.showGrade">
                <div class="col-md-4">
                    <label class="right inline">Performance Grade:</label>
                </div>
                <div class="col-md-8 right">
                    <select id="grade" class="form-control input" name="grade" ng-model="cadreCtrl.user.cadre.performanceGradeId" ng-options="grade.gradeId as grade.gradeDescription for grade in performanceGradeOptions">
                        <option value="">Select Performance Grade</option>
                    </select>
                    <div class="error-class">
                        <div class="error-content"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <button class="btn submit">Save as Cadre</button>
                    <button class="btn cancel" href="" ng-click="cadreCtrl.backview($event)">Back</button>
                </div>
            </div>
        </div>
    </div>
</form>
