<form name="family" id="familyRegistrationForm" ng-submit="familyCtrl.save()">
	<div class="row rightContent">
		<div class="large-16 columns formContent">
			
			<!-- Spouse Name -->

			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Spouse Name:</label>
				</div>
				<div class="large-4 columns left">
			<input type="text" id="spouseFirstName" name="spouseFirstName" data-val="spouseFirstName" class="name" ng-model="familyCtrl.user.spouseData.firstName" placeholder="First Name">
				</div>
				<div class="large-3 columns left">
					<input type="text" id="spouseMiddleName" class="name" ng-model="familyCtrl.user.spouseData.middleName" placeholder="Middle Name" >
				</div>
				<div class="large-4 columns left">
					<input type="text" id="spouseLastName" class="name" data-val="spouseLastName" ng-model="familyCtrl.user.spouseData.lastName" placeholder="Last Name">
				</div>
				<div class="error-class"><div class="error-content"></div></div>
			</div>

			<!-- Spouse Marriage date -->

			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Marriage Date:</label>
				</div>
				<div class="large-12 columns left">
					<input type="text" id="marriageDate" class="input" name="marriageDate" data-val="marriageDate" ng-model="familyCtrl.user.spouseData.marriageDate" date-picker-directive="familyCtrl.user.spouseData.marriageDate">
					<div class="error-class"><div class="error-content"></div></div>
				</div>
			</div>
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Gender:</label>
				</div>
				<div class="large-12 columns left radioGroup">
					<input type="radio" name="gender" value="M" id="male" ng-model="familyCtrl.user.spouseData.gender"><label for="male">Male</label>
					<input type="radio" name="gender" value="F" id="female" ng-model="familyCtrl.user.spouseData.gender"><label for="female">Female</label>
					<input type="radio" name="gender" value="O" id="notToDisclose" ng-model="familyCtrl.user.spouseData.gender"><label for="notToDisclose">Not to be disclosed</label>
				</div>
			</div>
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Date of Birth:</label>
				</div>
				<div class="large-12 columns left">
					<input type="text" id="dob" name="dob" ng-model="familyCtrl.user.spouseData.dateOfBirth" class="input" date-picker-directive="familyCtrl.user.spouse.dateOfBirth">
				</div>
			</div>
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Education:</label>
				</div>
				<div class="large-12 columns left">
					<select id="education" class="input" name="education" data-val="spouseEducation" ng-model="familyCtrl.user.spouseData.education.educationId" ng-options="education.educationId as education.qualification for education in educationOptions">
						<option value="">Select Education</option>
					</select>
					<div class="error-class"><div class="error-content"></div></div>
				</div>
			</div>
			<h6>Children Details </h6>
			
			<div class="row" ng-repeat="child in familyCtrl.user.childData">
				<div class="large-16 columns">
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Child Name:</label>
				</div>
				<div class="large-4 columns left">
					<input type="text" id="childFirstName" class="name" ng-model="child.firstName" placeholder="First Name">
				</div>
				<div class="large-3 columns left">
					<input type="text" id="childMiddleName" class="name" ng-model="child.middleName" placeholder="Middle Name" >
				</div>
				<div class="large-4 columns left">
					<input type="text" id="childLastName" class="name" ng-model="child.lastName" placeholder="Last Name">
				</div>
				<div class="error-class"><div class="error-content"></div></div>
			</div>
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Gender:</label>
				</div>
				<div class="large-12 columns left radioGroup">
					<input type="radio"  value="M" id="male" ng-model="child.gender"><label for="male">Male</label>
					<input type="radio"  value="F" id="female" ng-model="child.gender"><label for="female">Female</label>
					<input type="radio" value="O" id="notToDisclose" ng-model="child.gender"><label for="notToDisclose">Not to be disclosed</label>
				</div>
			</div>
			
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Date of Birth:</label>
				</div>
				<div class="large-12 columns left">
					<input type="text" id="childDob" name="childDob" ng-model="child.dateOfBirth" class="input" date-picker-directive="familyCtrl.user.child.dateOfBirth">
				</div>
			</div>

			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Education:</label>
				</div>
				<div class="large-12 columns left">
					<select id="education" class="input" name="education" data-val="childEducation" ng-model="child.education.educationId" ng-options="education.educationId as education.qualification for education in educationOptions">
						<option value="">Select Education</option>
					</select>
					
					<div class="error-class"><div class="error-content"></div></div>
				</div>
			</div>

		</div>
	</div>





			<div class="row">
				<div class="large-4 columns">
					&nbsp;
				</div>
				<div class="large-12 columns left">
					<!-- <a href="#" class="link" ng-click="familyCtrl.addChildSection(event)">Add another Child</a> -->
				</div>
			</div>
			<div class="row">
				<div class="large-4 columns">
				</div>
				<div class="large-12 columns">
					<button class="radius small button submit">Save & Continue</button>
					<button class="radius small button cancel" href="#">Back</button>
				</div>
			</div>
		</div>
	</div>
</form>