<form name="voter" id="voterRegistrationForm" ng-submit="voterCtrl.save()">
	<div class="row rightContent">
		<div class="large-16 columns formContent">
			
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Voter Card ID#:</label>
				</div>
				<div class="large-12 columns left">
					<input type="text" id="voterId" class="input" name="voterCardId" data-val="voterId" ng-model="voterCtrl.user.voterCardId">
					<div class="error-class"><div class="error-content"></div></div>
				</div>
			</div>
			
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Address Line1:</label>
				</div>
				<div class="large-12 columns left">
					<input type="text" id="houseNumber" class="input" name="houseNumber" data-val="houseNumber" ng-model="voterCtrl.user.addressLine1">
					<div class="error-class"><div class="error-content"></div></div>
				</div>
			</div>
			
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Address Line2:</label>
				</div>
				<div class="large-12 columns left">
					<input type="text" id="addressLine" class="input" name="addressLine" data-val="addressLine1" ng-model="voterCtrl.user.addressLine2">
					<div class="error-class"><div class="error-content"></div></div>
				</div>
			</div>
			
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Search Constituency:</label>
				</div>
				<div class="large-12 columns left">
					
					<input type="hidden" ng-model="voterCtrl.user.treeDataId" />
					
					<div id="autoCompleteContainer" autocomplete-voter-directive>
						<input type="text" id="pincode" class="input" name="pincode" data-val="pincode" ui-items="names" placeholder="Search by Location">
						<img src="images/searchicon.png" class="search-icon" id="searchIcon">
					</div>
					
					<div class="error-class"><div class="error-content"></div></div>
				</div>
			</div>
			


			<div class="row" ng-repeat="(key, value) in voterNodeObj">				
				<div class="large-4 columns">
					<label for="right-label" class="right inline" ng-bind="key"></label>
				</div>
				<div class="large-12 columns left">
					<span class="address-line" ng-bind="value"></span>
				</div>
			</div>

		
			<div class="row">
				<div class="large-4 columns">
				</div>
				<div class="large-12 columns">
					<button class="radius small button submit">Save & Continue</button>
					<a class="radius small button cancel" ui-sref="root.profile.editprofile.work">Back</a>
				</div>
			</div>
		</div>
	</div>
</form>