<form name="work" id="workRegistrationForm" ng-submit="workCtrl.save()">
	<div class="row rightContent">
		<div class="large-16 columns formContent">			
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Occupation:</label>
				</div>
				<div class="large-12 columns left">

					<select id="occupation" class="input" data-val="occupation" name="occupation" ng-options="occupation.occupationId as occupation.occupationName for occupation in occupationOptions" ng-model="workCtrl.user.occupationId">
						<option value="">Select Occupation</option>						
					</select>					

					
					<div class="error-class"><div class="error-content"></div></div>
				</div>				
			</div>
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Working Organization:</label>
				</div>
				<div class="large-12 columns left">
					<input type="text" id="organization" class="input" name="organization" data-val="userOrganization" ng-model="workCtrl.user.workingOrganization">
					<div class="error-class"><div class="error-content"></div></div>
				</div>				
			</div>
			<div class="row">
				<div class="large-4 columns">
					<label for="right-label" class="right inline">Working Location:</label>
				</div>
				<div class="large-12 columns left">
					<input type="text" id="location" class="input" name="location" data-val="userWorkLocation" ng-model="workCtrl.user.workingLocation">
					<div class="error-class"><div class="error-content"></div></div>
				</div>				
			</div>
			<div ng-if="workCtrl.gender == 'female' || workCtrl.age < 30">
			
				<div class="row">
					<div class="large-4 columns">
						<label for="right-label" class="right inline">Career Aspiration:</label>
					</div>
					<div class="large-5 columns left">
						<select id="aspiration" class="" name="aspiration" ng-options="aspiration.careerAspirationId as aspiration.careerAspirationName for aspiration in careerAspirationOptions" ng-model="workCtrl.user.userAdditionalInfo.careerAspirationId">
							<option value="">Select Career Aspiration</option>						
						</select>						
						<div class="error-class"><div class="error-content"></div></div>
					</div>
					<div class="large-5 columns left">
						<input type="text" id="aspirationText" class="" name="aspirationText" ng-model="workCtrl.user.userAdditionalInfo.careerAspiration">						
					</div>
				</div>
				<div class="row">
					<div class="large-4 columns">
						<label for="right-label" class="right inline">Skill gaps:</label>
					</div>
					<div class="large-12 columns left">
						<select id="skillGaps" class="input" name="skillGaps" ng-options="skillGap.skillGapId as skillGap.skillGapName for skillGap in skillGapsOptions" ng-model="workCtrl.user.userAdditionalInfo.skillGapsId">
							<option value="">Select Skill Gaps</option>						
						</select>						
						<div class="error-class"><div class="error-content"></div></div>
					</div>				
				</div>
				<div class="row">
					<div class="large-4 columns">
						<label for="right-label" class="right inline">Skill Level:</label>
					</div>
					<div class="large-12 columns left">
						<select id="skillLevel" class="input" name="skillLevel"  ng-model="workCtrl.user.userAdditionalInfo.skillLevel">
							<option value="">Select Level</option>							
							<option value="1">Volunteer</option>
							<option value="2">Leader</option>
							<option value="3">President</option>
							<option value="4">Local Leader</option>
						</select>						
						<div class="error-class"><div class="error-content"></div></div>
					</div>				
				</div>
				<div class="row">        
					<div class="large-4 columns">
					  <label for="right-label" class="right inline">Leadership Potential:</label>
					</div>
					<div class="large-12 columns left radioGroup">
					  <input type="radio" name="leaderShipPotentials" value="1" id="leaderShipPotentialsYes" ng-model="workCtrl.user.userAdditionalInfo.leadershipPotential"><label for="leaderShipPotentialsYes">Yes</label>
					  <input type="radio" name="leaderShipPotentials" value="0" id="leaderShipPotentialsNo" ng-model="workCtrl.user.userAdditionalInfo.leadershipPotential"><label for="leaderShipPotentialsNo">No</label>
					  <div class="error-class"><div class="error-content"></div></div>
					</div>           
				</div>
			</div>
			<div class="row">
				<div class="large-4 columns">&nbsp;
				</div>
				<div class="large-12 columns left">
					<button class="radius small button submit left">Save & Continue</button>
					<a class="radius small button cancel left" href="#/register/personal">Back</a>
				</div>
			</div>
		</div>
	</div>
</form>