<div class="innerpage-banner">
        <div class="row">
          <div class="large-16 columns">
            <img src="images/constituency.png" alt="banner1" />
          </div>
        </div>
      </div>

      <div class="row content">
        <div class="large-16 columns">
          <p>This constituency houses the Vijayawada city, one of the most successful commercial centres of Andhra Pradesh. This city of Vijayawada, which is the third-largest city of Andhra Pradesh, is politically important in the national scenario. With a metropolitan population of 1,048,240, as per the 2011 Census of India, Vijayawada is industrially renowned and agriculturally rich. Both these sectors form the backbone of the economy in the Vijayawada constituency. Historically known as Bewazada, this city is fed by the Krishna River, and grows the best quality of sugarcane, rice and mango. Besides other medium- and small-scale industries, the largest hub of the automobile industry of Asia, the Jawahar Lal Nehru Auto Nagar Industrial Estate, is located in Vijayawada.</p>
        </div>
      </div>
    
    <div class="row">
      <div class="large-8 columns">
        <h6>Vijayawada City Census 2011 data</h6>
        <img src="images/sensus.png"/>
      </div>
      <div class="large-8 columns" style="margin-top:14px;">
        <h6>&nbsp;</h6>
        <img src="images/Places.png"/>
      </div>
    </div>

    <div class="row constituency-map">
    <div class="large-16 columns">
    <br>
      <img src="images/vijayawada3.png">
    </div>
      </div>
      <br />