<div class="innerpage-banner">
        <div class="row">
          <div class="large-16 columns">
            <img src="images/contact.png" alt="banner1" />
          </div>
        </div>
      </div>
      
      <div class="row content">
        <div class="large-9 medium-8 small-16 columns">
          <h1>Feedback </h1>
            <form>
              <div class="row">
              <div class="large-8 columns">
                <label>First Name
                  <input type="text" placeholder="First Name">
                </label>
              </div>
              <div class="large-8 columns">
                <label>Last Name
                  <input type="text" placeholder="Last Name">
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-16 columns">
                <label>Your Email Id
                  <input type="text" placeholder="Enter Email">
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-16 columns">
                <label>Subject To
                  <select>
                    <option value="husker">Select</option>
                    <option value="starbuck">Vijayawada</option>
                    <option value="hotdog">Others</option>
                    
                  </select>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-16 columns">
                <label>Your Comments
                  <textarea placeholder="Enter comments+"></textarea>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-4 columns">
                <input type="button" value="Submit" class="small button expand" />
              </div>
            </div>
          </form>
          </div>
          <div class="large-6 medium-6 small-16 columns">
            <h1>Office </h1>
            <img src="images/office.png" alt="Office" />
            <p>H.NO:40-25-19/8. Flat No:501,<br>Annapurna Towers, Asramam Road,<br> Patamata Lanka,<br>Vijayawada-5200010. 
<br>Andhra Pradesh. INDIA.
 </p>
            <p><b>Email :</b> <a href="#">cmd@kesinenigroup.com</a><br />
            <b>Contact :</b>+91 9234567890</p>
          </div>
      </div>