<div id="home-carousel" style="width:100%">
        <div> <img src="images/bannerImg.jpg" alt="slider 1" class="web" />
        <!-- <div class="mobile">
          <img src="images/mobile-banner1.jpg" alt="slider 1"/>
          <h4>Finding and Creating The Right Solution</h4>
          <p>We are leading information technology services company drive to create business value for our customers through the innovative application of advanced technologies.</p>
        </div> -->
          <div class="slide-overlay">
            <div class="slide-body-text">
              <h3>Centre clears ORR, flyovers construction in Vijayawada</h3>
              <p>Vijayawada MP Kesineni Srinivas said that the Central government has cleared the proposal.</p>
            </div>
          </div>
        </div>
       
        <div> <img src="images/banner1.jpg" alt="slider 2" class="web" />
        <!-- <div class="mobile">
          <img src="images/mobile-banner2.jpg" alt="slider 2"  />
          <h4>Revolutionary Automated ERP Testing Solution </h4>
          <p>OSI Test Center eliminates the hurdles of time and money for your ERP testing problems with its easy to use, truly automated methodology.</p>
        </div> -->
          <div class="slide-overlay">
            <div class="slide-body-text">
              <h3>Centre clears ORR, flyovers construction in Vijayawada</h3>
              <p>Vijayawada MP Kesineni Srinivas said that the Central government has cleared the proposal.</p>
            </div>
          </div>
          </div>
        
        <div> <img src="images/banner2.jpg" alt="slider 2" class="web" />
        <!-- <div class="mobile">
          <img src="images/mobile-banner3.jpg" alt="slide 3" />
          <h4>Access Your Oracle E-Business Suite Anywhere, Anytime </h4>
          <p>With OSI's Enterprise Mobility Solutions, your critical business information can be available on your iOS and Android devices securely in real time.</p>
        </div> -->
          <div class="slide-overlay">
            <div class="slide-body-text">
              <h3>Centre clears ORR, flyovers construction in Vijayawada</h3>
              <p>Vijayawada MP Kesineni Srinivas said that the Central government has cleared the proposal.</p>
            </div>
          </div>
        </div>
      </div>
     
      <div class="activities">
          
        <div id="activities-carousel">
          <div>
            <div class="row"> 
            <h1>Activities </h1>
            <div class="large-5 medium-5 columns">
              <img src="images/gollamandala.jpg" alt="image1" class="img-border" />
            </div>
            <div class="large-11 medium-11 columns">
              <h2 class="activities-header">MP Kesineni Nani to adopt Gollamandala village</h2>
              <p>Vijayawada MP Kesineni Srinivas (Nani) has decided to adopt Gollamandala village in Kondur mandal of Krishna district, as a part of Prime Minister Narendra Modi initiated Sansaad Adarsh Gram Yojana (SAGY) scheme.</p>
              <p>Mr. Nani while addressing the media on Sundaysaid that he has adopted the village after following all norms laid by the Ministry of Rural Development, and as many as 19 parameters were met. <a href="initiatives.html" class="right">View more ..</a></p>
            </div>
            </div>
          </div>

          <div>
            <div class="row">
            <h1>Activities </h1>
            <div class="large-5 medium-5 small-16 columns ">
              <img src="images/flyovers.jpg" alt="image1" class="img-border" />
            </div>
            <div class="large-11  medium-11 small-16 columns">
            <h2 class="activities-header">Centre clears ORR, flyovers construction in Vijayawada</h2>
            <p>Vijayawada MP Kesineni Srinivas said that the Central government has cleared the proposal sent by the State for the construction of a flyover at Kanakadurga temple, as well as an outer ring road (ORR) for Vijayawada city. </p>
            <p>MP Nani on Sunday informed that Union Minister for Road Transport, Highways and Shipping, Nitin Gadkari has cleared the proposal and the centre has sanctioned Rs. 19,700 crore for the ORR construction.  <a href="initiatives.html" class="right">View more ..</a></p> 
              
            </div>
            </div>
          </div>

              <div>
            <div class="row">
            <h1>Activities </h1>
            <div class="large-5 medium-5 small-16 columns ">
              <img src="images/11.jpg" alt="image1" class="img-border" />
            </div>
            <div class="large-11  medium-11 small-16 columns">
            <h2 class="activities-header">Vijayawada LS Segment Set to be a Role Model in 'Gram Swaraj'</h2>
            <p>For the first time in the country, Sir Dorabji Tata Trust has come forward to micro planning of an entire parliamentary constituency to place  it on the path of development on the lines of ‘gram swaraj’, dream of Mahatma Gandhi. </p>
            <p>After six months of efforts, Vijayawada MP Kesineni Srinivas (Nani) succeeded in convincing Ratan Tata to have Tata Trust take up micro planning for all the 264 villages of Vijayawada Parliamentary Constituency. <a href="initiatives.html" class="right">View more ..</a> </p> 
            </div>
            </div>
          </div> 

        </div>
         <div class="row activities-nav">
          <div class="large-4 medium-6 small-12 small-centered columns right">
            <a href="#" class="previous"><img src="images/previous.png" /> &nbsp; </a> <a href="#" class="next"><img src="images/next.png" /></a>
          </div>
      </div>
      
      </div>  

        <div class="row constituency">
          <div class="large-8 medium-8 small-16 columns">
          <h1>Constituency 360&#176;</h1>
          <img class="right" alt="image1" src="images/graph-Img5.jpg" />
          </div>
          <div class="large-8 medium-8 small-16 columns">
            <h1>&nbsp;</h1>
            <img class="right" alt="image1" src="images/graph-Img4.jpg" />
          </div>
        </div>
      <div class="news-poll">
        <div class="row">
        <div class="large-8 medium-8 small-16 columns news">
              <h1>In the News</h1>
              <div id="rowWrapper">
              <div class="row">
                <div class="large-3 medium-4 small-4 columns"><img src="images/newsIcon.png" alt="img" class="left" /></div>
                <div class="large-13 medium-12 small-12 columns"><p><label>20th Apr 2015 // Eenadu News</label>
                MP Kesineni Nani to adopt Gollamandala village.
              <a href="knowyourmp.html">Read more...</a></p></div>
              </div>
              <div class="row">
                <div class="large-3 medium-4 small-4 columns"><img src="images/youtubeIcon.png" alt="img" class="left" /></div>
                <div class="large-13 medium-12 small-12 columns"><p><label>02 Apr 2015 // TV5 News Coverage</label>
              Speech | Development Being Made in & Around Vijayawada
              <a href="https://www.youtube.com/watch?v=yDKlTl4Jj3Q" target="_blank">Read more...</a></p></div>
              </div>
              <div class="row">
                <div class="large-3 medium-4 small-4 columns"><img src="images/youtubeIcon.png" alt="img" class="left" /></div>
                <div class="large-13 medium-12 small-12 columns"><p><label>31st Mar 2015 // TV5 News Coverage</label>
              Fires on KCR for Expediting Road Tax Rule
              <a href="https://www.youtube.com/watch?v=lz0e6PLT7I8" target="_blank">Read more...</a></p></div>
              </div>
              </div>
        </div>
              
        <div class="large-6 medium-8 small-16 columns">
            <h1>Opinion Poll</h1>
            <div class="row opinion-poll">
              <div class="large-16 small-16 columns"><label class="error">Will opposition party support Pattiseema Project ?</label></div>
              <div class="large-16 small-16 columns"><label><input type="radio" name="poll">Yes, I agree</label></div>
              <div class="large-16 small-16 columns"><label><input type="radio" name="poll">No</label></div>
              <div class="large-16 small-16 columns"><label><input type="radio" name="poll">Can't say </label></div>
              <div class="large-16 small-16 columns"><img src="images/chooseBtn.png" alt="choose" /></div>
            </div>
        </div>
      </div>
    </div>