<div id="home-carousel" style="width:100%">
  <div> <img src="images/bannerImg.jpg" alt="slider 1" class="web" />
    <!-- <div class="mobile">
      <img src="images/mobile-banner1.jpg" alt="slider 1"/>
      <h4>Finding and Creating The Right Solution</h4>
      <p>We are leading information technology services company drive to create business value for our customers through the innovative application of advanced technologies.</p>
    </div> -->
  </div>
<div> <img src="images/banner1.jpg" alt="slider 2" class="web" />
    <!-- <div class="mobile">
      <img src="images/mobile-banner2.jpg" alt="slider 2"  />
      <h4>Revolutionary Automated ERP Testing Solution </h4>
      <p>OSI Test Center eliminates the hurdles of time and money for your ERP testing problems with its easy to use, truly automated methodology.</p>
    </div> -->
  </div>
  <div> <img src="images/banner2.jpg" alt="slider 2" class="web" />
    <!-- <div class="mobile">
      <img src="images/mobile-banner3.jpg" alt="slide 3" />
      <h4>Access Your Oracle E-Business Suite Anywhere, Anytime </h4>
      <p>With OSI's Enterprise Mobility Solutions, your critical business information can be available on your iOS and Android devices securely in real time.</p>
    </div> -->
  </div>
</div>
<div class="row">
  <div class="large-9 small-16 columns padding-none">
    <h1>Constituency Updates</h1>
    <p>Despite the obvious difficulties of acquiring land for the new capital via land pooling, the AP government seems reluctant about utilizing the readily-available forest land in Krishna district.</p>
    <p>About 2,200 acres is available in Jujjuru and Rangapuram villages of Kanchikacherla mandal in one stretch. Similarly, 5,365 acres is available in Gaddamanugu.</p>
    <div class="right"><a class="previous" href="#"><img src="images/previous.png"> &nbsp; </a> <a class="next" href="#"><img src="images/next.png"></a></div>
  </div>
  <div class="large-6 small-16 columns padding-none">
    <img class="img-border right" alt="image1" src="images/image1.jpg" />
  </div>
</div>
<div class="activities">
  <div class="row">
    <div class="large-6 small-16 columns padding-none">
      <img src="images/image2.jpg" alt="image1" class="img-border" />
    </div>
    <div class="large-9 small-16 columns padding-none">
      <h1>Activities </h1>
      <p>The minister accorded his permission after a meeting with district minister Devineni Umamaheswara Rao, MP Kesineni Srinivas (Nani), MLAs Gadde Rammohan Rao, B Umamaheswara Rao in his chambers.</p>
      <p>He said that union minister had in principle agreed to grant funds for the flyover during their previous meeting and asked them to come with proposals from the state government.</p>
      <div class="right"><a href="#" class="previous"><img src="images/previous.png" /> &nbsp; </a> <a href="#" class="next"><img src="images/next.png" /></a></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-8 small-16 columns news padding-none">
    <h1>In the News</h1>
    <p><label>22 Jan 2015 // Eenadu news paper</label>
    Land aplenty for capital.
    <a href="#">Read more...</a></p>
    <p><label>14 Jan 2015 // Andhra Jyothy news paper</label>
    Decks cleared for Durga temple flyover.
    <a href="#">Read more...</a></p>
    <p><label>14 Jan 2015 // Andhra Jyothy news paper</label>
    'No better alternative to Vij-Guntur.
    <a href="#">Read more...</a></p>
  </div>
  <div class="large-8 small-16 columns">
    <h1>Opinion Poll</h1>
    <div class="row opinion-poll">
      <div class="large-16 small-16 columns"><label class="error">AP Govt's decision of Vijayawada as capital ? </label></div>
      <div class="large-16 small-16 columns"><label><input type="radio">Yes, I agree</label></div>
      <div class="large-16 small-16 columns"><label><input type="radio">No, it may be different place </label></div>
      <div class="large-16 small-16 columns"><label><input type="radio">Can't say </label></div>
      <div class="large-16 small-16 columns"><input type="button" class="choose" value="Choose"></div>
    </div>
    <div class="row subscribe">
      <div class="large-7 small-16 columns">Subscribe for News Letter</div>
      <div class="large-7 small-13 columns"><input type="text"></div>
      <div class="large-2 small-3 columns"><input type="button" class="subscribe-btn" value=" "></div>
    </div>
  </div>
</div>