<div class="innerpage-banner">
        <div class="row">
          <div class="large-16 columns padding-none">
            <img src="images/initiatives.png" alt="banner1" />
          </div>
        </div>
      </div>
      
      <div class="row content">
        <div class="large-16 medium-12 small-16 columns padding-none">
            <h6>Vijayawada LS Segment Set to be a Role Model in 'Gram Swaraj'</h6>
            <p>MP explained to  the PM about his adopting Golla-mandala Village in A.Konduru mandal in Vijayawada parliamentary constituency under the Samsad Adarsh Gram Yojana and the plan he chalked out for the all-round development of that village. </p>
 
          <p>Mr Srinivas also informed the PM that due to his efforts and his meeting with Mr Ratan Tata, the Sir Dorabji Tata Trust came forward to adopt all the remaining 264 villages in the Vijayawada parliamentary constituency and take steps for their development.</p>
 
          <p>The PM congratulated the MP when he was told that this is the first of its kind in the country. Mr Modi also said that he will ask the BJP MPs to follow the initiative shown by Mr Srinivas. The PM also promised to visit the launching of micro planning of all the villages in the last week of June. </p>
                        
            <h6>MP Kesineni Nani to adopt Gollamandala village</h6>
            
            <p>Vijayawada MP Kesineni Nani was promised on construction of flyover near Kanakadurga Temple during his election campaign. TDP did agitations in Vijayawada in this regard and CBN also gave the promise to the people. Former Parliament Member Lagadapati Rajagopal was tried to meet Chandra Babu at that time and did his argument that flyover was not required. Living up to his given promise, Kesineni Nani took the initiative soon after he was elected as Vijayawada MP. </p>
            <p>He started delegation to National Highways Authority of India and took the issue to Union Minister Nitin Gadkari in presence of Chief Minister CBN. Nani was involved in preparing the various designs for the construction of flyover. CBN made it clear the final design of flyover at Kanakadurga Temple. The estimated cost of 250 crores and the report is being sent to Central Government for clearance. NHAI had already agreed to for this construction. Traffic woes in Vijayawada would come to end after this flyover. CBN was assigned the responsibility to both Konakalla and Kesineni to finish the project in next two years.</p>
             
          </div>
           
      </div>