
      <div class="innerpage-banner">
        <div class="row">
          <div class="large-16 columns padding-none">
            <img src="images/vision-mission.png" alt="banner1" />
          </div>
        </div>
      </div>
      
      <div class="row content">
        <div class="large-10 medium-16 small-16 columns padding-none">
          <h1>Mission</h1>
       <p>I aspire to achieve the Millennium development goals and some other as part of my mission.</p>
      
             <h6 class="mission-vissionSubHeadings">Eradicate extreme poverty & hunger</h6>
              <p>
          <ul class="vision-left">
           <li>Achieve full and productive employment and decent work for all, including women and young people.</li>
           <li>The Proportion of people who suffer from hunger.</li>
          </ul>
        </p>

              <h6  class="mission-vissionSubHeadings">Achieve universal primary education</h6>
              <p>
        <ul class="vision-left">
          <li>
            Need to ensure that by 2020, children everywhere, boys and girls alike, will be able to complete a full course of primary schooling.
          </li>
        </ul>
        </p>

          <h6 class="mission-vissionSubHeadings">Promote gender equality and empower women</h6>
              <p>
        <ul class="vision-left">
          <li>Eliminate gender disparity in primary and secondary education, preferably by 2005, and in all levels of education no later than 2020</li>
        </ul> 
        </p>

        
          </div>
      <div class="large-6 medium-16 small-16 columns padding-none">
        <h1>&nbsp;</h1>
        <img src="images/vision.png" alt="vision" />
      </div>
      <div class="large-16 columns padding-none">
        <h6 class="mission-vissionSubHeadings">Reduce child mortality</h6>
              <p>
          <ul class="vision-left">
            <li>
              Children born into poverty are almost twice as likely to die before the age of five as those from wealthier families.
            </li>
          </ul>
        <p/>      

              <h6 class="mission-vissionSubHeadings">Improve maternal health</h6>
              <p>
        <ul class="vision-left">
          <li>Narrow the rural-urban gap to be skilled by taking care during child birth.</li>
        </ul>
        </p>

              <h6 class="mission-vissionSubHeadings">Combat all diseases</h6>
              <p>
        <ul class="vision-left">
          <li>Have halted by 2015 and begun to reverse the incidence of malaria and other major diseases</li>
        </ul>
        </p>
        
        <h6>Ensure Environmental sustainability</h6>
        <p>
        <ul class="vision-left">
          <li>
          Integrate the principles of sustainable development into country policies and programmes and reverse the loss of environmental resources.</li>
          <li>Reduce biodiversity loss, achieving, by 2020, a significant reduction in the rate of loss</li>
        </ul>
        </p>
        
         <h6>Develop a global partnership for development</h6> 
         <ul class="vision-left">
          <li>In cooperation with companies & Industries, provide access to affordable essential needs in developing constituency.</li>
        </ul>
         
         <h6>Sports and Recreation</h6>
         <p>
          <ul class="vision-left">
            <li>Sports is one of the major sectors concerned with youth. Therefore I will initiate the measures to improve sporting facilities and make them more accessible to every strata of society.</li>
          </ul> 
        </p>
         
         <h6>Women Welfare</h6>
         <p>
         <ul class="vision-left">
           <li>
            Mobilize, organize and create awareness among women about the need for education, self-reliance and development. Promote social justice, economic empowerment and awareness of legal rights among women. Identify, increase and strengthen the leadership and decision making capacity of women particularly in the rural areas. Promote vocational skills for alternative means of livelihood. Train potential women entrepreneur to take up income generation activities and micro enterprises. Provide health education to women especially in the areas of reproductive health, hygiene and nutrition.
           </li>
         </ul>
         </p>
      </div>
      <div class="large-16 medium-16 small-16 columns padding-none">
      <h1>Vision</h1>
      <p>My vision is to show Vijayawada as a role model Constituency in India in terms of Citizen empowerment, Social justice, economic stability, Clean & Green and in improving economic status.</p>
      </div>
      </div>

<script src="js/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
<script src='js/slick.js'></script>
<script src="js/globalfooter.js"></script>
</body>
</html>