<div class="innerpage-banner">
        <div class="row">
          <div class="large-16 columns">
            <img src="images/vision-mission.png" alt="banner1" />
          </div>
        </div>
      </div>
      
      <div class="row content">
        <div class="large-16 medium-16 small-16 columns">
          <h1>Vision</h1>
          <div class="row collapse vision">
            <div class="large-6 medium-7 columns">
              <img src="images/vision.png" alt="vision" />
            </div>
            <div class="large-9 medium-8 columns">
              <br /><br /><h6>My vision is to show Vijayawada as a role model Constituency in India in terms of <span>Citizen Empowerment</span>, <span class="justice">Social Justice</span>, <span class="economic">Economic Stability</span>, <span class="green">Clean & Green</span> and <span class="improve">Improving Economic Status</span>.</h6>
            </div>
          </div>
        </div>
        <div class="large-16 medium-16 small-16 columns vision-mission">
          <h1>Mission</h1>
          <h6>I aspire to achieve the Millennium development goals and some other as part of my mission.</h6><br />
            <div class="row collapse">
            <div class="large-7 medium-8 small-16 columns">
              <div class="row mission">
                <div class="large-4 medium-3 small-5 columns">
                  <img src="images/povertyIcon.png" alt="mission" />
                </div>
                <div class="large-12 medium-13 small-11 columns">
                  <h6>Eradicate extreme poverty & hunger</h6>
                </div>
              </div>
              <div class="row">
                <div class="large-4 medium-3 small-5 columns">
                  <img src="images/educationIcon.png" alt="mission" />
                </div>
                <div class="large-12 medium-13 small-11 columns">
                  <h6>Achieve universal primary education</h6>
                </div>
              </div>
              <div class="row mission">
                <div class="large-4 medium-3 small-5 columns">
                  <img src="images/genderIcon.png" alt="mission" />
                </div>
                <div class="large-12 medium-13 small-11 columns">
                  <h6>Promote gender equality and empower women</h6>
                </div>
              </div>
              <div class="row">
                <div class="large-4 medium-3 small-5 columns">
                  <img src="images/childmortalityIcon.png" alt="mission" />
                </div>
                <div class="large-12 medium-13 small-11 columns">
                  <h6>Reduce child mortality</h6>
                </div>
              </div>
              <div class="row mission">
                <div class="large-4 medium-3 small-5 columns">
                  <img src="images/maternalIcon.png" alt="mission" />
                </div>
                <div class="large-12 medium-13 small-11 columns">
                  <h6>Improve maternal health</h6>
                </div>
              </div>
            </div>
            <div class="large-7 medium-8 small-16 columns">
              <div class="row mission">
                <div class="large-4  medium-3 small-5 columns">
                  <img src="images/diseasesIcon.png" alt="mission" />
                </div>
                <div class="large-12  medium-13 small-11 columns">
                  <h6>Combat all diseases</h6>
                </div>
              </div>
              <div class="row">
                <div class="large-4  medium-3 small-5 columns">
                  <img src="images/EnvironmentalIcon.png" alt="mission" />
                </div>
                <div class="large-12  medium-13 small-11 columns">
                  <h6>Ensure Environmental sustainability</h6>
                </div>
              </div>
              <div class="row mission">
                <div class="large-4  medium-3 small-5 columns">
                  <img src="images/partnershipIcon.png" alt="mission" />
                </div>
                <div class="large-12  medium-13 small-11 columns">
                  <h6>Develop a global partnership for development</h6>
                </div>
              </div>
              <div class="row">
                <div class="large-4  medium-3 small-5 columns">
                  <img src="images/sportsIcon.png" alt="mission" />
                </div>
                <div class="large-12  medium-13 small-11 columns">
                  <h6>Sports and Recreation</h6>
                </div>
              </div>
              <div class="row mission">
                <div class="large-4  medium-3 small-5 columns">
                  <img src="images/welfareIcon.png" alt="mission" />
                </div>
                <div class="large-12  medium-13 small-11 columns">
                  <h6>Women Welfare</h6>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>