<div class="innerpage-banner">
        <div class="row">
          <div class="large-16 columns padding-none">
            <img src="images/parliament.png" alt="banner1" />
          </div>
        </div>
      </div>
      
      <div class="row content">
        <div class="large-16 medium-12 small-16 columns padding-none">
          <h6>Parliamentary Performance</h6><br />
          <img src="images/graphs.png" alt="table" /> 
          <h6>Attendance details of Kesineni Srinivas (89% attendance)</h6><br />
          <img src="images/table3.png" alt="table" />  
          <h6>Debates details of Kesineni Srinivas (participated in 8 debate)</h6>
          <img src="images/table1.png" alt="table" />  <br />
          <h6>Questions details of Kesineni Srinivas (29 question asked)</h6>
          <img src="images/table2.png" alt="table" />              
          </div>

      </div>