<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kesineni Srinivas</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
  </head>
  <body>
    
    <header>
      <div class="row">
        <div class="large-7 small-7 columns phone">
          Office:  +1234567890
        </div>
        <div class="large-9 small-9 columns top-nav">
          <nav>
            <ul>
              <li><a href="/" class="home">Home</a></li>
              <li><a href="#" class="help">Help</a></li>
              <li><a href="#" class="my-account">My Account</a></li>
              <li><a href="postrequest" class="post">Post a Request</a></li>
              <li><a href="/signout" class="logout">Logout</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="row navigation">
        <nav class="top-bar" data-topbar="">
          <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
              <a href="/"><h1 class="logo"></h1></a>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="">&nbsp;</a></li>
          </ul>
        <section class="top-bar-section clear" style="left: 0%;">
          <ul class="right">
            <li><a href="#">Constituency</a></li>
            <li class="active"><a href="#">Manage</a></li>
            <!--li class="has-dropdown not-click"><a href="solutions-services.html">Solutions &amp; Services</a>
              <ul class="dropdown subnav-left"><li class="title back js-generated"><a href="javascript:void(0)">Back</a></li>
                <li class="mobile-option"><a href="solutions-services.html">Solutions &amp; Services - Home</a></li>
                <li><a href="application-integration.html">Application Integration</a></li>
                <li><a href="enterprise-applications.html">Enterprise Applications</a></li>
                <li><a href="enterprise-analytics.html">Analytics</a></li>
                <li><a href="mobility-solutions.html">Mobility Solutions</a></li>
                <li><a href="quality-assurance.html">Quality Assurance</a></li>
                <li><a href="managed-services.html">Managed Services</a></li>
              </ul>
            </li-->
            <li><a href="#">Issues</a></li>
            <li class="has-dropdown not-click"><a href="#">Relationship</a>
              <ul class="dropdown subnav-left">
                <li class="title back js-generated"><a href="javascript:void(0)">Back</a></li>
                <li class="mobile-option"><a href="#">Home</a></li>
                <li><a href="#">Opportunities</a></li>
              </ul>
            </li>
            <li><a class="last" href="#">Services</a></li>
            <li class="mobile-option"><a href="#">Oparations</a></li>
            <li class="mobile-option"><a href="#">Configuration</a></li>
          </ul>
        </section>
      </nav>
    </div>
    </header>
    <div class="search-filter">
      <div class="row filter-wrapper">
        <div class="large-8 small-16 columns padding-none actions">
          <a href="#" class="add">Add Member</a> | <a href="#" class="edit">Edit</a> | <a href="#" class="delete">Delete</a>
        </div>
        <div class="large-6 small-13 columns padding-none">
          <input type="text" class="search" placeholder="Search" />
          <input type="button" value=" " class="search-btn" />
        </div>
        <div class="large-2 small-3 columns padding-none">
          <input type="button" value="Advance Search" class="adv-search" /> 
        </div>
      </div>
    </div>

      <div class="row registration-wrapper">
        <div class="large-9 medium-7 small-16 columns">
          <h1>Post a Request</h1>
        
        <div class="row">
          <div class="large-6 small-16 columns"><label class="inline right">Name of Requestor:</label></div>
          <div class="large-10 small-16 columns"><input type="text" value="" class="requestor" /></div>
        </div>
        <div class="row">
          <div class="large-6 small-16 columns"><label class="right">Organization / Institution:</label></div>
          <div class="large-10 small-16 columns"><input type="text" /></div>
        </div>
        <div class="row">
          <div class="large-6 small-16 columns"><label class="inline right">Title:</label></div>
          <div class="large-10 small-16 columns"><input type="text" /></div>
        </div>
        <div class="row">
          <div class="large-6 small-16 columns"><label class="inline right">Description:</label></div>
          <div class="large-10 small-16 columns"><textarea></textarea></div>
        </div>
        <div class="row">
          <div class="large-6 small-16 columns"><label class="inline right">Specify loactions:</label></div>
          <div class="large-10 small-16 columns"><input type="text" /></div>
        </div>
        <div class="row">
          <div class="large-6 small-16 columns"><label class="inline right">Supporting Documents:</label></div>
          <div class="large-10 small-16 columns"><input type="text" class="left" /> 
            <!-- <span tabindex="0" class="group-span-filestyle input-group-btn mock-browse">
            <label for="filestyle-1" class="btn btn-default ">Browse</label>
            </span> -->
          </div>
        </div>

         <div class="row">
            <div class="large-5 small-16 columns"></div>
            <div class="large-10 small-16 columns">
                <input type="button" class="radius small button submit" value="Save"/>
                <input type="button" class="radius small button cancel" value="Back"/>
            </div>
        </div>

        </div>

         <div class="large-5 medium-7 small-16 columns tile-section">
   
          <div class="tiles ">
              <div class="name">
                <label><b>Charan Nadapati</b>

                   <span class="right">
                  <label class="volunteer"></label>
                  <label class="cadre"></label>
                </span>

                </label>
               
              </div>
              <div class="photo2"><img src="images/image.png" /></div>
              <div class="details">
                <label>Age/Gender:  <span class="righty">29 / Male</span></label>
               
                <label>Phone: <img src="images/phone-icon.png" alt="phone" /><span >1234567890</span> </label>
                <label>Email: <img src="images/email-icon.png" alt="email" /><span ><a href="mailto:info@test.com">info@test.com</a></span> </label>
                <label>Location:  <span>Village name</span></label>
                <label>Constituency:  <span>Vijayawada <a href="#" class="right" >More details</a></span></label> 
              </div>
              
          </div>
         </div>

         <div class="large-4 medium-7 small-16 columns "></div>



      </div>

        <!-- footer -->
      <footer class="fixed-footer">
        <div class="row">
          <div class="large-13 small-16 columns padding-none"><a href="#">Sitemap</a> <a href="#">Terms of use</a> <a href="#">Privacy</a></div>
          <div class="large-3 small-16 columns copy-rights">All rights reserved @ 2015.</div>
          </div>
      </footer>
    
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
