
<div class="row registration-wrapper" style="padding-left:20px">
<!-- Register Section -->
<div class="large-12 medium-7 small-16 columns padding-none">
<h1>Register <span>to become a member.</span></h1>
<div class="row">
<div class="large-4 columns">
  <label class="right inline">Name:</label>
</div>
<div class="large-4 columns">
  <input type="text" placeholder="First Name" class="name required"  />
</div>
<div class="large-4 columns padding-none">
  <input type="text" placeholder="Middle Name" class="" />
</div>
<div class="large-4 columns">
  <input type="text" placeholder="Last Name" class="name required" />
</div>
</div>
<div class="row">
<div class="large-4 small-16 columns"><label class="inline right">User Name:</label></div>
<div class="large-8 small-16 columns left"><input type="text" class="required" /></div>
</div>
<div class="row">
<div class="large-4 small-16 columns"><label class="inline right">Password:</label></div>
<div class="large-8 small-16 columns left"><input type="password" class="required" /></div>
</div>
<div class="row">
<div class="large-4 small-16 columns"><label class="inline right">Confirm Password:</label></div>
<div class="large-8 small-16 columns left"><input type="password" /></div>
</div>
<div class="row">
<div class="large-4 small-16 columns"><label class="inline right">Date of Birth:</label></div>
<div class="large-8 small-16 columns left"><input type="text" class="required" /></div>
</div>
<div class="row">
<div class="large-4 small-16 columns"><label class="inline right">Mobile Number:</label></div>
<div class="large-8 small-16 columns left"><input type="text" class="required" /></div>
</div>
<div class="row">
<div class="large-4 small-16 columns"><label class="inline right">Email Address:</label></div>
<div class="large-8 small-16 columns left"><input type="text" class="required"/></div>
</div>
<div class="row">
<div class="large-4 small-16 columns"><label class="right">Gender:</label></div>
<div class="large-8 small-16 columns gender left"><label><input type="radio" /> Male </label><label><input type="radio" /> Female </label> <label><input type="radio" /> Not to be disclosed</label></div>
</div>
<div class="row">
<div class="large-4 small-16 columns"> &nbsp; </div>
<div class="large-8 small-16  left ">
  <input type="radio" id="volunteer" class="showAreaOfinterest" name="specilization" value="volunteer"><label for="volunteer">Do you want to be a volunteer</label><br>
</div>
</div>
<div class="row">
<div class="large-4 small-16 columns"> &nbsp; </div>
<div class="large-8 small-16  left ">
  <input type="radio" id="cadre" class="showAreaOfinterest" name="specilization" value="cadre"><label for="cadre">Do you want to register as a  Cadre</label><br>
</div>
</div>
<div class="row cadreRole">
<div class="large-4 small-16 columns"> &nbsp;  </div>
<div class="large-8 small-16 columns gender left" style="padding-left:38px">
  <label for="newcadre"><input id="newcadre" type="radio" name="cadreRole" checked/> New </label>
  <label for="existingcadre"><input id="existingcadre" type="radio" name="cadreRole"/> Existing </label>
</div>
</div>
<div class="row areaOfInterest">
<div class="large-4 columns">
  <label for="right-label" class="right inline">Select area of interest:</label>
</div>
<div class="large-8 columns left">
  <select id="areaOfinterest" class="input" name="areaOfinterest" multiple>
    <option value="">Registrations</option>
    <option value="">Survey</option>
    <option value="">Infra arrangements</option>
    <option value="">Meeting organizations</option>
  </select>
  <div class="error-class"><div class="error-content"></div></div>
</div>
</div>
<div class="row">
<div class="large-6 small-16 columns"></div>
<div class="large-10 small-16 columns button-wrapper"><a href="#"><input type="button" class="button small radius" value="Register" id="formSubmission"/></a></div>
</div>
</div>
</div>
<div class="overlayWrapper" id="cdsOverlay" style="display:none;">

<div class="row collapse" style="margin-top:10px"><div class="large-4 columns"><div >Dear Srinivas,</div></div></div>
<div class="row separator"><div class="large-2 columns"> &nbsp; </div><div class="large-14 columns"></div></div>
<div class="row collapse" style="margin-top:10px">

<div class="large-16 columns">Welcome to Vijayawada Constituency Portal.</div></div>
<div class="row collapse"><div class="large-16 columns">

Thanks for signing in for better tomorrow and showing interest towards to become Party Cadre.
</div></div>
<div class="row collapse" style="margin-top:10px"><div class="large-16 columns">

To get a party cadre, please contact :
                  
                  <div class="row" style="">
                      <div class="large-10 columns large-centered">address line1</div>
                      <div class="large-10 columns large-centered">address line 2</div>
                      <div class="large-10 columns large-centered">address line 3</div>

                  </div>

</div></div>
<div class="row collapse" style="margin-top:10px"><div class="large-16 columns">
  
Once you get confirmation from Party office about cadre membership, please update the same in portal using link provide below.


<br>

<a style="text-decoration:underline; margin-left:20px" href="cadre.html">http://www.cds.com/updatecadredetails/</a>


</div></div>
<div class="row collapse" style="margin-top:10px"><div class="large-16 columns">

    We sincerely look forward to work with you in future.
  
  <br><br>
  Sincerely,
  <br>
  Front Office Executive
  <br>
  Nani Office  




</div></div>

<div class="row separator"><div class="large-2 columns"> &nbsp; </div><div class="large-14 columns"></div></div>

<div class="row" style="margin-top:10px">

  <div class="large-4 columns right" style="text-align:right">  <a style="width:100px" href="inbox.html" class="radius small button">Ok</a></div>
  <!-- <div class="large-4 columns right">
    <a id="cancel" class="radius small button" style="width:100px">Cancel</a>

  </div> -->

</div>




  


  
</div>
