<div class="row registration-wrapper">
   <!-- Signin Section -->
   
   <div class="large-10 columns"><img src="http://placehold.it/500x250"></div>


   <div class="large-6 medium-7 small-16 columns padding-none">
      <form ng-submit = "signinCtrl.signin()" name="login">
         <h1>Sign In
            <span>If you are already a member.</span>
         </h1>
         <div class="row">
            <div class="large-4 small-16 columns padding-none">
               <label class="inline right">User Name:</label>
            </div>
            <div class="large-12 small-16 columns">
               <input type="text" name="username" ng-model="signinCtrl.user.username" />
            </div>
         </div>
         <div class="row">
            <div class="large-4 small-16 columns padding-none">
               <label class="inline right" name="password" >Password:</label>
            </div>
            <div class="large-12 small-16 columns">
               <input type="password" name="password" value=""  ng-model="signinCtrl.user.password"  id="inputPassword"/>
               <div class="large-16 small-16"><input type="checkbox" /> Remember me</div>
            </div>
         </div>
         <div class="row">
            <div class="large-4
               small-16 columns"></div>
            <div class="large-12 small-16 columns
               button-wrapper">             
               <input type="submit" class="button small radius"
               value="Sign In"/> <a href="#forgotpassword" class="right forgot-password">Forgot
               Password?</a>
            </div>
         </div>
      </form>
   </div>
  
</div>