/* line 1, ../scss/components/_dashboard.scss */
.dashboard-container {
  margin-top: 20px;
}

/* line 4, ../scss/components/_dashboard.scss */
.dashboard-container .tasks-section {
  margin: 10px 0 10px 0;
}

/* line 7, ../scss/components/_dashboard.scss */
.dashboard-container .tasks-section .task-desc {
  border: 1px solid #e6e9ed;
  text-align: center;
  margin-left: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 15, ../scss/components/_dashboard.scss */
.dashboard-container .calender-section h3 {
  font-size: 14px;
}

/* line 18, ../scss/components/_dashboard.scss */
.dashboard-container .tasks-section .task-desc li h2 {
  font-size: 12px;
}

/* line 21, ../scss/components/_dashboard.scss */
.dashboard-container .tasks-section .task-desc li {
  list-style: none;
  padding: 5px 0;
  border-bottom: 1px solid #e6e9ed;
  overflow: hidden;
}

/* line 27, ../scss/components/_dashboard.scss */
.dashboard-container .tasks-section .task-desc li:nth-child(even) {
  background-color: #f0f0f0;
}

/* line 30, ../scss/components/_dashboard.scss */
.dashboard-container .tasks-section .task-desc li .page-nation {
  color: #ccc;
}

/* line 34, ../scss/components/_dashboard.scss */
.dashboard-container .tasks-section .task-desc li div {
  font-size: 12px;
}

/* line 37, ../scss/components/_dashboard.scss */
.dashboard-container .calender-section div a {
  font-size: 10px;
  text-decoration: underline;
}

/*End of tables Styles*/
/* line 43, ../scss/components/_dashboard.scss */
.tiles .photo2 {
  height: 113px;
  margin: 0 0 20px 0;
  /* padding: 10px; */
  text-align: center;
}

/* line 49, ../scss/components/_dashboard.scss */
.tiles .photo2 img {
  border: solid 5px #fff;
  height: 113px;
  width: 140px;
  vertical-align: inherit;
}

/* line 55, ../scss/components/_dashboard.scss */
.tile-section {
  border: 1px #d0d0d0 solid;
  background: #f6f6f6;
  margin: 75px 0px 0px 30px;
  padding-bottom: 10px;
  display: none;
}

/* line 62, ../scss/components/_dashboard.scss */
.tiles .name {
  padding: 10px 0px 10px 0px;
}

/* line 65, ../scss/components/_dashboard.scss */
.tiles .details label {
  padding: 10px 0 0 0;
}

/* line 71, ../scss/components/_dashboard.scss */
.dashboard-container .calender-section h3 {
  font-size: 14px;
}

/* line 74, ../scss/components/_dashboard.scss */
.dashboard-container .tasks-section .task-desc li h2 {
  font-size: 12px;
}

/* line 77, ../scss/components/_dashboard.scss */
.dashboard-container .tasks-section .task-desc li {
  list-style: none;
  border-bottom: 1px solid #e6e9ed;
}

/* line 81, ../scss/components/_dashboard.scss */
.dashboard-container .tasks-section .task-desc li:nth-child(even) {
  background-color: #f0f0f0;
}

/* line 84, ../scss/components/_dashboard.scss */
.dashboard-container .tasks-section .task-desc li .page-nation {
  color: #ccc;
}

/* line 88, ../scss/components/_dashboard.scss */
.dashboard-container .tasks-section .task-desc li div {
  font-size: 12px;
}

/* line 91, ../scss/components/_dashboard.scss */
.dashboard-container .calender-section {
  margin: 0 0 15px 0;
}

/* line 94, ../scss/components/_dashboard.scss */
.dashboard-container .calender-section div a.calender-link {
  font-size: 13px;
  text-decoration: underline;
  margin-top: 15px;
}

/* line 100, ../scss/components/_dashboard.scss */
.dashboard-container .calender-section .calender-items-sec .events-sec {
  border: 1px solid #d6d6d6;
  margin: 10px 16px;
  background: #f2f0f0;
}

/* line 105, ../scss/components/_dashboard.scss */
.dashboard-container .calender-section .calender-items-sec .events-sec li div.left-link {
  margin-right: 4px;
}

/* line 108, ../scss/components/_dashboard.scss */
.dashboard-container .calender-section .calender-items-sec .events-sec li div p {
  font-size: 11px;
  margin-bottom: 0;
  padding-top: 10px;
}

/* line 113, ../scss/components/_dashboard.scss */
.dashboard-container .calender-section .calender-items-sec .events-sec li {
  border-right: 1px solid #ccc;
  margin: 10px 0px;
  padding-bottom: 0;
}

/* line 118, ../scss/components/_dashboard.scss */
.dashboard-container .calender-section .calender-items-sec h4 {
  font-size: 14px;
  margin-bottom: 0;
}

/* line 122, ../scss/components/_dashboard.scss */
.dashboard-container .calender-section .calender-items-sec span {
  display: inline-block;
  font-size: 12px;
  line-height: normal;
}

/* line 127, ../scss/components/_dashboard.scss */
.active-event {
  text-align: center;
  padding: 5px;
  height: 60px;
  background-color: #8c3131;
}

/* line 133, ../scss/components/_dashboard.scss */
.active-content {
  color: #FFF !important;
}

/* line 136, ../scss/components/_dashboard.scss */
.active-event-meeting {
  color: #8c3131;
}

/* line 139, ../scss/components/_dashboard.scss */
.margin-padding-none {
  margin: 0 !important;
  padding: 0;
}

/* line 143, ../scss/components/_dashboard.scss */
.non-active-event {
  background-color: #bcb9b9;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 5px;
}

/* line 150, ../scss/components/_dashboard.scss */
.border-none {
  border-right: none !important;
}

/* line 153, ../scss/components/_dashboard.scss */
.requestor {
  background: url(../images/searchicon.png) no-repeat right center;
}

/* line 157, ../scss/components/_dashboard.scss */
.non-active-event1 {
  background: #088A68;
}

/* line 161, ../scss/components/_dashboard.scss */
.non-active-event2 {
  background: #0B3861;
}

/* line 165, ../scss/components/_dashboard.scss */
.non-active-event3 {
  background: #5F04B4;
}

/* line 1, ../scss/components/_footer.scss */
footer #footerWrapper {
  background: #444444;
  color: #999;
  padding: 20px 0;
  text-align: left;
}

/* line 7, ../scss/components/_footer.scss */
footer a {
  font-size: 13px;
  padding: 0 15px 0 0;
  margin: 0 15px 0 0;
  border-right: solid 1px #999;
  color: #999;
  float: left;
}

/* line 15, ../scss/components/_footer.scss */
footer a:last-child {
  border-right: solid 0px #999;
}

/* line 18, ../scss/components/_footer.scss */
footer .copy-rights {
  font-size: 13px;
  text-align: right;
}

/* line 22, ../scss/components/_footer.scss */
footer.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* line 27, ../scss/components/_footer.scss */
.social {
  padding-top: 6px;
  font-size: 13px;
  text-align: right;
}

/* line 32, ../scss/components/_footer.scss */
.social img {
  margin: 0 0 0 8px;
}

/* line 35, ../scss/components/_footer.scss */
.line {
  background: #5e5e5e;
  margin: 15px;
  height: 1px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* line 44, ../scss/components/_footer.scss */
  footer .copy-rights {
    text-align: center;
  }

  /* line 47, ../scss/components/_footer.scss */
  .social {
    text-align: center;
    padding-top: 12px;
  }

  /* line 51, ../scss/components/_footer.scss */
  .footer-links {
    text-align: center;
    margin: 0 0 15px 0;
  }

  /* line 55, ../scss/components/_footer.scss */
  footer a {
    float: none;
    display: inline-block;
    margin: 0 8px 0 0;
    padding: 0 8px 0 0;
  }
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 13, ../scss/components/_header.scss */
body {
  font-family: "OpenSans-Regular", "Arial", "Sans-serif";
}

/* FONTS*/
/*!
 *  Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
* -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/icons/fontawesome-webfont.eot?v=4.2.0");
  src: url("fonts/icons/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("fonts/icons/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("fonts/icons/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("fonts/icons/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 31, ../scss/components/_header.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'OpenSans-Semibold';
}

/* line 34, ../scss/components/_header.scss */
p {
  font-size: 13px;
}

/* line 37, ../scss/components/_header.scss */
header {
  background: #0174b7 url(../images/header-bg.jpg) repeat-x top left;
  padding: 0px 0 2px 0;
  margin: 0;
  color: #999;
}

/* line 43, ../scss/components/_header.scss */
header .phone {
  background: url(../images/cds-sprite.png) 16px 8px no-repeat;
  height: 30px;
  padding: 7px 0 0 32px;
  font-size: 13px;
  color: #fff;
}

/* line 50, ../scss/components/_header.scss */
header .top-nav {
  padding-right: 0;
}

/* line 53, ../scss/components/_header.scss */
header .top-nav ul {
  margin: 0;
}

/* line 56, ../scss/components/_header.scss */
header .top-nav ul li {
  float: left;
  list-style: none;
  font-size: 13px;
  background: url(../images/menu-separator.png) no-repeat left center;
  padding: 0 0px 0 20px;
}

/* line 63, ../scss/components/_header.scss */
header .top-nav ul li:first-child {
  background: none;
  padding-left: 0px;
  padding-right: 20px;
}

/* line 68, ../scss/components/_header.scss */
header .top-nav ul li a.home {
  background: url(../images/cds-sprite.png) no-repeat 0 -23px;
  height: 20px;
  padding: 0 0 0 25px;
  color: #999;
}

/* line 74, ../scss/components/_header.scss */
header .top-nav ul li a.help {
  background: url(../images/cds-sprite.png) no-repeat 0 -47px;
  height: 20px;
  padding: 0 0 0 25px;
  margin: 0 18px 0 0;
  color: #999;
}

/* line 81, ../scss/components/_header.scss */
header .top-nav ul li a.my-account {
  background: url(../images/cds-sprite.png) no-repeat 0 -72px;
  height: 20px;
  padding: 0 8px 0 25px;
  color: #999;
}

/* line 88, ../scss/components/_header.scss */
header .top-nav ul li a.post {
  padding: 0 15px 0 0;
  color: #999;
}

/* line 92, ../scss/components/_header.scss */
header .top-nav ul li a.logout {
  padding: 0 15px 0 20px;
  color: #999;
  background: url(../images/logout.png) no-repeat 0 2px;
}

/* line 99, ../scss/components/_header.scss */
header .navigation {
  padding: 28px 0 0 0;
}

/* line 102, ../scss/components/_header.scss */
header .navigation h1.logo {
  background: url(../images/logo.png) no-repeat;
  width: 155px;
  height: 40px;
}

/* line 107, ../scss/components/_header.scss */
header .main-navigation nav ul {
  margin: 0;
  padding: 0;
}

/* line 111, ../scss/components/_header.scss */
header .main-navigation nav ul li {
  list-style: none;
  float: left;
}

/* line 115, ../scss/components/_header.scss */
h1 {
  color: #16578f;
  font-size: 26px;
}

/* line 120, ../scss/components/_header.scss */
.headerMobile {
  background: #f0f2f4;
}

/* line 123, ../scss/components/_header.scss */
.headerLogo {
  background: #fff url(../images/headerBg.png) repeat-x;
}

/* line 127, ../scss/components/_header.scss */
.auth-header {
  padding-top: 8px;
}

/* line 1, ../scss/components/_home.scss */
header.home {
  border-bottom: solid 1px #e2e2e2;
  padding: 0;
  background: #16578f;
}

/* line 6, ../scss/components/_home.scss */
.logo {
  padding: 10px 0 8px 0;
  display: inline-block;
}

/* line 10, ../scss/components/_home.scss */
.register-signin {
  text-align: right;
}

/* line 13, ../scss/components/_home.scss */
.register-signin nav {
  overflow: hidden;
}

/* line 16, ../scss/components/_home.scss */
.register-signin ul {
  margin: 0;
  float: right;
}

/* line 20, ../scss/components/_home.scss */
.register-signin ul li {
  float: left;
  list-style: none;
  background: url(../images/topnav-divider.png) no-repeat right center;
}

/* line 25, ../scss/components/_home.scss */
.register-signin ul li a {
  display: inline-block;
}

/* line 28, ../scss/components/_home.scss */
.register-signin ul li a:hover {
  color: #ccc;
}

/* line 31, ../scss/components/_home.scss */
.register-signin ul li:first-child {
  padding: 4px 15px 6px 0;
  background: none;
}

/* line 35, ../scss/components/_home.scss */
.register-signin ul li:nth-child(1) {
  background: none;
}

/*.register-signin ul li a{
  border-left: solid 1px blue;
}*/
/* line 41, ../scss/components/_home.scss */
.register-signin ul li:last-child {
  background: none;
}

/* line 44, ../scss/components/_home.scss */
.register, .signin, .site-view, .contactus {
  padding: 6px 15px 6px;
  line-height: 20px;
  color: #fff;
  font-size: 13px;
}

/* line 50, ../scss/components/_home.scss */
.register {
  background: url(../images/registerIcon.png) no-repeat 0px 9px;
  padding-left: 20px;
}

/* line 54, ../scss/components/_home.scss */
.signin {
  background: url(../images/signinIcon.png) no-repeat 2px 9px;
  padding-left: 20px;
}

/* line 58, ../scss/components/_home.scss */
.contactus {
  background: url(../images/contactus.png) no-repeat 2px 9px;
  padding-left: 26px;
}

/* line 62, ../scss/components/_home.scss */
.post-issue {
  background: #efd303;
  padding: 8px 25px;
  margin: 10px 0 0 0;
  color: #000000;
  font-family: opensans-semibold;
  display: inline-block;
}

/* line 70, ../scss/components/_home.scss */
.home-navigation {
  background: #006eae;
}

/* line 73, ../scss/components/_home.scss */
body .home-navigation .top-bar-section li:not(.has-form) a:not(.button) {
  background: #006eae;
}

/* line 76, ../scss/components/_home.scss */
.img-border {
  border: solid 8px #ffffff;
  box-shadow: 0px 0px 6px #666;
  -moz-box-shadow: 0px 0px 6px #666;
  -webkit-box-shadow: 0px 0px 6px #666;
}

/* line 82, ../scss/components/_home.scss */
.activities {
  background: url(../images/activityBg.png) repeat-x;
  padding: 20px 0;
  margin: 0px 0 25px;
}

/* line 87, ../scss/components/_home.scss */
.banner {
  margin: 0 0 25px 0;
}

/* line 90, ../scss/components/_home.scss */
.news {
  /*padding: 0;*/
}

/* line 93, ../scss/components/_home.scss */
.news p {
  padding: 0 0 15px 0;
  margin: 0 0 15px 0;
  border-bottom: dotted 1px #ccc;
  font-size: 12px;
}

/* line 99, ../scss/components/_home.scss */
.news p label {
  color: #666;
  font-size: 12px;
}

/* line 103, ../scss/components/_home.scss */
.news p a {
  text-decoration: underline;
  display: block;
}

/* line 107, ../scss/components/_home.scss */
.opinion-poll {
  font-size: 12px;
  padding: 20px 0px;
  /*border: solid 1px #999999;
  background: #eeeeee;*/
}

/* line 113, ../scss/components/_home.scss */
.opinion-poll label.error {
  color: #a40000;
  margin: 0 0 15px 0;
}

/* line 117, ../scss/components/_home.scss */
.opinion-poll label input {
  margin-right: 12px;
}

/* line 120, ../scss/components/_home.scss */
.opinion-poll .choose {
  margin: 10px 0 0 25px;
  background: #efd303;
  padding: 8px 40px;
  color: #000000;
  font-family: opensans-semibold;
  border: none;
}

/* line 128, ../scss/components/_home.scss */
.subscribe {
  font-size: 14px;
  padding: 25px 0 0 0;
  margin: 0 !important;
}

/* line 133, ../scss/components/_home.scss */
.subscribe input {
  margin: 0 !important;
  color: #16578f;
}

/* line 137, ../scss/components/_home.scss */
.subscribe-btn {
  background: url(../images/subscribe-btn.jpg) no-repeat;
  width: 45px;
  height: 37px;
  border: none;
}

/* line 143, ../scss/components/_home.scss */
.innerpage-banner {
  /*height: 150px;*/
  overflow: hidden;
  margin-bottom: 20px;
  border-bottom: solid 3px #e5ecf2;
  text-align: center;
  background: #e5ecf2;
}

/* line 151, ../scss/components/_home.scss */
.innerpage-banner img {
  width: 100%;
}

/* line 154, ../scss/components/_home.scss */
.headerMobile {
  display: none;
}

/* line 157, ../scss/components/_home.scss */
.phone-no {
  margin: 8px 0 0 20px;
  display: inline-block;
}

/* line 161, ../scss/components/_home.scss */
.none {
  display: none !important;
}

/*.content {
  padding: 0;
}*/
/* line 169, ../scss/components/_home.scss */
.content h1 {
  border-bottom: dotted 1px #ccc;
  padding: 0 0 5px 0;
  margin: 0 0 15px 0;
}

/* line 174, ../scss/components/_home.scss */
.content img {
  border: solid 5px #ccc;
  margin: 0 0 20px 0;
}

/* line 178, ../scss/components/_home.scss */
.constituency {
  margin-top: 0px;
}

/* line 183, ../scss/components/_home.scss */
#home-carousel .slick-prev {
  background: url(../images/arrow-left.png);
  width: 51px;
  height: 50px;
}

/* line 188, ../scss/components/_home.scss */
#home-carousel .slick-next {
  background: url(../images/arrow-right.png);
  width: 51px;
  height: 50px;
}

/* line 193, ../scss/components/_home.scss */
#home-carousel img {
  width: 100%  !important;
  max-height: 500px !important;
}

/* line 198, ../scss/components/_home.scss */
.activities-header {
  font-size: 16px;
  color: #333;
}

/* line 202, ../scss/components/_home.scss */
.news-poll {
  background: #e5ecf2;
  margin: 20px 0 0 0;
  padding: 15px 0;
}

/* line 208, ../scss/components/_home.scss */
.slick-slide h1 {
  padding-left: 18px;
}

/* line 211, ../scss/components/_home.scss */
.slide-wrapper {
  position: relative;
}

/* line 214, ../scss/components/_home.scss */
.slide-overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
}

/* line 221, ../scss/components/_home.scss */
.slide-body-text {
  color: #ffffff;
}

/* line 224, ../scss/components/_home.scss */
.slide-body-text h3 {
  color: #c7e249;
}

/* line 227, ../scss/components/_home.scss */
.vision-left li {
  font-size: 13px;
}

/* ============ Foundation Overrides ================= */
/* line 233, ../scss/components/_home.scss */
.padding-none {
  padding: 0;
}

/* line 236, ../scss/components/_home.scss */
.top-bar {
  background: none;
}

/* line 239, ../scss/components/_home.scss */
.top-bar-section ul li {
  /*border-right: solid 1px #16578f;
  background: url(../images/menu-divider.png) no-repeat right center;*/
  background: none;
}

/*.top-bar-section ul li a.active {
  border-bottom: solid 5px #ffffff;
}*/
/* line 247, ../scss/components/_home.scss */
.top-bar-section ul li > a {
  font-family: 'OpenSans-Semibold';
  padding: 0 16px;
  color: #16578f;
  font-size: 12px;
  background: #e5ecf2 url(../images/menu-active.png) no-repeat;
}

/* line 254, ../scss/components/_home.scss */
.top-bar-section ul li > a.active {
  font-family: 'OpenSans-Semibold';
  /*padding: 0 16px !important;*/
  color: #16578f;
  font-size: 12px;
  background: url(../images/home-menu-active.png) no-repeat bottom center !important;
}

/*.top-bar-section ul li > a:last-child {
  padding-right: 0 !important;
}*/
/* line 264, ../scss/components/_home.scss */
.no-js .top-bar-section ul li:hover > a {
  color: #1c5776;
  background: #e5ecf2 url(../images/menu-divider.png) no-repeat right center;
}

/*Website: Kesineni Srinivas.
  Development Started : 18th March 2015.
  Developer: Vanava Raju Adabala. 
  Stack: Mobile optimization using Foundation Frame work. */
/* line 272, ../scss/components/_home.scss */
body .navigation .top-bar-section ul li:hover {
  background: url(../images/home-menu-active.png) no-repeat center bottom !important;
  color: red !important;
}

/* line 276, ../scss/components/_home.scss */
body .navigation .top-bar-section ul li.active {
  background: url(../images/menu-active.png) no-repeat center bottom !important;
}

/*body .navigation .top-bar-section ul li.active:hover {
  background: url(../images/menu-active.png) no-repeat center bottom !important;
}*/
/* line 282, ../scss/components/_home.scss */
body .navigation .top-bar-section ul li:last-child a {
  padding-right: 0;
}

/* line 285, ../scss/components/_home.scss */
body .navigation .top-bar-section li:not(.has-form) a:not(.button) {
  background: none;
  padding-left: 16px;
  padding-right: 16px;
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  /*body .navigation .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 8px;
  }*/
  /* line 295, ../scss/components/_home.scss */
  .activities {
    padding: 15px 0px;
  }

  /* line 298, ../scss/components/_home.scss */
  .news-poll, .constituency {
    padding: 0 8px;
  }

  /*.headerLogo .register-signin {
    display: none;
  }
  .content {
    padding: 0 8px;
  }*/
  /* line 308, ../scss/components/_home.scss */
  .logo {
    /*width: 100%; */
    padding-bottom: 0;
  }

  /* line 312, ../scss/components/_home.scss */
  header .navigation {
    padding: 0;
  }

  /* line 315, ../scss/components/_home.scss */
  .slide-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
  }

  /*.slide-body-text{
    color: #ffffff;
  }*/
  /* line 325, ../scss/components/_home.scss */
  .slide-body-text h3 {
    color: #c7e249;
    font-size: 20px;
  }

  /* line 329, ../scss/components/_home.scss */
  .slide-body-text p {
    margin: 0;
  }
}
@media only screen and (min-width: 360px) and (max-width: 640px) {
  /* line 337, ../scss/components/_home.scss */
  .top-bar .toggle-topbar.menu-icon {
    background: #0e4a54 url(../images/menuIcon.png) no-repeat;
    right: 3%;
    width: 43px;
    border-radius: 3px;
  }

  /* line 343, ../scss/components/_home.scss */
  .top-bar.expanded .title-area {
    background: none;
  }

  /* line 346, ../scss/components/_home.scss */
  .top-bar-section ul li {
    background: #e5ecf2;
    border-bottom: dotted 1px #ccc;
  }

  /* line 350, ../scss/components/_home.scss */
  .top-bar-section ul li > a {
    padding: 12px 0 12px 10px;
  }

  /* line 353, ../scss/components/_home.scss */
  .top-bar-section ul li > a.active {
    background: #16578f !important;
    color: #fff !important;
  }

  /* line 357, ../scss/components/_home.scss */
  body .navigation .top-bar-section ul li:hover {
    background: #a1bbd2 !important;
    color: #fff !important;
  }

  /* line 361, ../scss/components/_home.scss */
  img {
    margin: 0 auto;
  }

  /* line 364, ../scss/components/_home.scss */
  header .navigation {
    padding: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* line 372, ../scss/components/_home.scss */
  .register-signin ul li:first-child {
    display: none;
  }

  /* line 375, ../scss/components/_home.scss */
  .register, .signin, .site-view, .contactus {
    font-size: 11px;
    padding-left: 21px;
  }

  /*.logo img {
    max-width: 80%;
  }*/
  /* line 382, ../scss/components/_home.scss */
  #home-carousel {
    height: 130px;
  }

  /* line 385, ../scss/components/_home.scss */
  .activities {
    padding: 15px 0px;
  }

  /* line 388, ../scss/components/_home.scss */
  .news-poll, .constituency {
    padding: 0 8px;
  }

  /* line 391, ../scss/components/_home.scss */
  .top-bar.expanded .title-area {
    background: none;
  }

  /* line 394, ../scss/components/_home.scss */
  .top-bar .toggle-topbar.menu-icon {
    background: #0e4a54 url(../images/menuIcon.png) no-repeat;
    right: 3%;
    width: 43px;
    border-radius: 3px;
  }

  /* line 400, ../scss/components/_home.scss */
  .headerMobile {
    display: none;
  }

  /* line 403, ../scss/components/_home.scss */
  .headerLogo .register-signin {
    display: none;
  }

  /* line 406, ../scss/components/_home.scss */
  header .navigation {
    padding: 0;
  }

  /* line 409, ../scss/components/_home.scss */
  .top-bar-section ul li {
    background: #e5ecf2;
    border-bottom: dotted 1px #ccc;
  }

  /* line 413, ../scss/components/_home.scss */
  .top-bar-section ul li > a {
    padding: 12px 0 12px 10px;
  }

  /* line 416, ../scss/components/_home.scss */
  .top-bar-section ul li > a.active {
    background: #16578f !important;
    color: #fff !important;
  }

  /* line 420, ../scss/components/_home.scss */
  body .navigation .top-bar-section ul li:hover {
    background: #a1bbd2 !important;
    color: #fff !important;
  }

  /* line 424, ../scss/components/_home.scss */
  body .navigation .top-bar-section li:not(.has-form) a:not(.button) {
    background: none;
  }

  /*.content {
    padding: 0 8px;
  }*/
  /* line 430, ../scss/components/_home.scss */
  .slide-overlay {
    display: none;
  }

  /* line 433, ../scss/components/_home.scss */
  .phone {
    display: none;
  }

  /* line 436, ../scss/components/_home.scss */
  div.slideshow-container {
    height: auto;
  }
}
/* line 1, ../scss/components/_list.scss */
.search-filter {
  background: #e7eaeb;
  border-bottom: solid 1px #ccc;
  padding: 5px 0;
  margin: 0 0 5px 0;
}

/* line 7, ../scss/components/_list.scss */
.search-filter .search {
  margin: 0;
  border: solid 1px #b4b4b4;
  float: left;
  width: 80%;
}

/* line 13, ../scss/components/_list.scss */
.search-filter .search-btn {
  float: left;
  width: 35px;
  height: 37px;
  border: none;
  background: url(../images/cds-sprite.png) no-repeat 0 -217px;
  cursor: pointer;
}

/* line 21, ../scss/components/_list.scss */
.search-filter .adv-search {
  float: left;
  padding: 7px 8px;
  margin: 3px 0 0 0;
  border: none;
  background: #4b4b4b;
  cursor: pointer;
  color: #fff;
}

/* line 30, ../scss/components/_list.scss */
.search-filter .actions {
  padding: 8px 0 0 0;
}

/* line 33, ../scss/components/_list.scss */
.search-filter .actions .add {
  margin: 0;
  background: url(../images/cds-sprite.png) no-repeat 0 -302px;
  height: 20px;
  padding: 0 0 0 22px;
  margin: 0 8px 0 0;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
}

/* line 43, ../scss/components/_list.scss */
.search-filter .actions .edit {
  margin: 0;
  background: url(../images/cds-sprite.png) no-repeat 0 -328px;
  height: 20px;
  padding: 0 12px 0 20px;
  margin: 0 0 0 12px;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
}

/* line 53, ../scss/components/_list.scss */
.search-filter .actions .grey {
  color: #b6b6b6;
}

/* line 56, ../scss/components/_list.scss */
.search-filter .actions .delete {
  margin: 0;
  background: url(../images/cds-sprite.png) no-repeat 0 -352px;
  height: 20px;
  padding: 0 10px 0 20px;
  margin: 0 0 0 10px;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
}

/* line 66, ../scss/components/_list.scss */
.search-filter .filter, .filter {
  background: url(../images/cds-sprite.png) no-repeat 0 -257px;
  width: 69px;
  height: 34px;
  cursor: pointer;
  border: none;
}

/* line 73, ../scss/components/_list.scss */
.filter-wrapper {
  position: relative;
  color: #999;
}

/* line 77, ../scss/components/_list.scss */
.filter-options {
  background: #f2f2f2;
  border: solid 1px #cecece;
  margin-bottom: 5px;
  position: relative;
}

/* line 83, ../scss/components/_list.scss */
.filter-options .arrow {
  background: url(../images/filter-arrow.png) no-repeat;
  position: absolute;
  z-index: 10;
  right: 50px;
  top: -16px;
  width: 18px;
  height: 15px;
}

/* line 92, ../scss/components/_list.scss */
.filter-options .options {
  margin: 0;
  float: left;
}

/* line 96, ../scss/components/_list.scss */
.filter-options .options span {
  float: left;
  font-size: 13px;
  margin: 0 15px 10px 0;
  font-weight: bold;
}

/* line 102, ../scss/components/_list.scss */
.filter-options .options ul {
  list-style: none;
  float: left;
  margin: 0 0 0 10px;
}

/* line 107, ../scss/components/_list.scss */
.filter-options .options ul li {
  font-size: 13px;
  padding: 0 0 5px 0;
}

/* line 111, ../scss/components/_list.scss */
.filter-options input.age {
  display: inline-block;
  width: 60px;
  margin-left: 25px;
  margin-right: 12px;
  background: #e3ebef;
  border: solid 1px #a5cbde;
}

/* line 119, ../scss/components/_list.scss */
.filter-options input.city {
  width: 175px;
  margin: 0 20px 15px 0;
  background: #e3ebef;
  border: solid 1px #a5cbde;
}

/* line 125, ../scss/components/_list.scss */
.filter-options .filterContainer {
  margin: 15px 0 0;
}

/* line 130, ../scss/components/_list.scss */
.filter-options .selected {
  background: #dfe5e9;
  padding: 6px;
  /*  margin: 0 0 15px 0; */
  color: #0074b7;
  font-size: 14px;
  font-weight: bold;
}

/* line 138, ../scss/components/_list.scss */
.filter-options .selected a {
  background: #fff;
  border: solid 1px #ccc;
  padding: 1px 8px 3px;
  margin: 0 0 0 10px;
  color: #000;
  font-size: 12px;
  font-weight: normal;
}

/* line 148, ../scss/components/_list.scss */
.tiles .photo2 {
  height: 113px;
  margin: 0 0 20px 0;
  /* padding: 10px; */
  text-align: center;
}

/* line 154, ../scss/components/_list.scss */
.tiles .photo2 img {
  border: solid 5px #fff;
  height: 113px;
  width: 140px;
  vertical-align: inherit;
}

/* line 160, ../scss/components/_list.scss */
.tile-section {
  border: 1px #d0d0d0 solid;
  background: #f6f6f6;
  margin: 75px 0px 0px 30px;
  padding-bottom: 10px;
  display: none;
}

/* line 167, ../scss/components/_list.scss */
.tiles .name {
  padding: 10px 0px 10px 0px;
}

/* line 170, ../scss/components/_list.scss */
.tiles .details label {
  padding: 10px 0 0 0;
}

/* line 176, ../scss/components/_list.scss */
.tiles-list {
  background: #e7eaeb;
  padding: 20px;
  margin-bottom: 10px;
  min-height: 500px;
  /*height: 750px;
  overflow: scroll;
  overflow-x: hidden;*/
}

/* line 185, ../scss/components/_list.scss */
.tiles-list ul {
  margin: 0;
  padding: 0;
}

/* line 189, ../scss/components/_list.scss */
.tiles-list ul li {
  padding: 0;
}

/* line 192, ../scss/components/_list.scss */
.tiles-list ul li .tiles {
  background: #fff;
  padding: 0px;
  margin: 10px;
  min-height: 14em;
}

/* line 198, ../scss/components/_list.scss */
.tiles-list ul li .tiles .photo1 {
  background: url(../images/image.png) no-repeat top center;
  height: 113px;
  margin: 0;
  border: solid 1px #fff;
}

/* line 204, ../scss/components/_list.scss */
.tiles-list ul li .tiles .photo2 {
  background: url(../images/image2.png) no-repeat top center;
  width: 140px;
  height: 113px;
  display: inline-block;
  margin: 0;
  border: solid 1px #fff;
}

/* line 212, ../scss/components/_list.scss */
.tiles-list ul li .tiles .details {
  margin: 15px 10px;
}

/* line 215, ../scss/components/_list.scss */
.tiles-list ul li .tiles .details h6 {
  font-size: 13px;
  font-weight: bold;
  word-break: break-all;
  word-wrap: break-word;
  height: 40px;
  overflow: hidden;
}

/* line 223, ../scss/components/_list.scss */
.tiles-list ul li .tiles .details label {
  font-size: 13px;
  word-wrap: break-word;
  word-break: break-all;
  height: 30px;
  overflow: hidden;
}

/* line 230, ../scss/components/_list.scss */
.tiles-list ul li .tiles .status {
  background: #999999;
  padding: 6px;
}

/* line 234, ../scss/components/_list.scss */
.tiles-list ul li .tiles .status input[type="checkbox"] {
  margin: 0;
}

/* line 237, ../scss/components/_list.scss */
.tiles-list ul li .tiles .status .volunteer, .volunteer {
  background: url(../images/cds-sprite.png) no-repeat 0 -152px;
  width: 25px;
  height: 26px;
  display: inline-block;
  margin: 0 5px 0 0;
}

/* line 244, ../scss/components/_list.scss */
.tiles-list ul li .tiles .status .cadre, .cadre {
  background: url(../images/cds-sprite.png) no-repeat 0 -186px;
  width: 25px;
  height: 26px;
  display: inline-block;
}

/* line 1, ../scss/components/_signin.scss */
.registration-wrapper {
  padding: 35px 0 10px 0;
}

/* line 4, ../scss/components/_signin.scss */
.registration-wrapper h1 {
  padding: 0 0 40px 0;
  margin: 0;
}

/* line 8, ../scss/components/_signin.scss */
.registration-wrapper h1 span {
  font-size: 14px;
  color: #666;
  font-family: opensans-regular;
  font-weight: normal;
  padding: 0 0 0 5px;
}

/* line 15, ../scss/components/_signin.scss */
.registration-wrapper input.button {
  margin: 0;
  background: #efd303;
  padding: 8px 35px;
  color: #000000;
  font-family: opensans-semibold;
  font-size: 13px;
  border: none;
}

/* line 24, ../scss/components/_signin.scss */
.registration-wrapper input.cancel {
  margin: 0;
  background: #b0b0b0;
  padding: 8px 35px;
  color: #000000;
  font-family: opensans-semibold;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* line 34, ../scss/components/_signin.scss */
.registration-wrapper .button-wrapper {
  margin: 15px 0 0 0;
}

/* line 37, ../scss/components/_signin.scss */
.registration-wrapper .forgot-password {
  font-size: 13px;
  padding: 10px 0 0 0;
  text-decoration: underline;
}

/* line 42, ../scss/components/_signin.scss */
.registration-wrapper .or {
  text-align: center;
}

/* line 45, ../scss/components/_signin.scss */
.registration-wrapper .gender label {
  display: inline-block;
  padding: 0 22px 0 0;
}

/* line 57, ../scss/components/_signin.scss */
.content-wrapper {
  overflow: hidden;
  min-height: 500px;
  border: solid 1px #d0d0d0;
  padding: 10px;
  margin: 0 0 15px 0;
}

/* line 65, ../scss/components/_signin.scss */
.members img {
  border: solid 5px #ffffff;
  box-shadow: 0px 0px 6px #666;
  -moz-box-shadow: 0px 0px 6px #666;
  -webkit-box-shadow: 0px 0px 6px #666;
  margin: 10px 0 0 0;
  width: 140px;
  height: 125px;
  background: url(../images/image2.png) no-repeat top center;
}

/* line 75, ../scss/components/_signin.scss */
.member-info span {
  padding: 0 8px 0 0;
  font-weight: bold;
}

/* line 79, ../scss/components/_signin.scss */
.member-info label {
  padding: 0 0 8px 0;
  display: table;
}

/* line 83, ../scss/components/_signin.scss */
.member-info a.view-more, .member-info a.reset-pswd {
  padding: 0 0 0 15px;
  text-decoration: underline;
  font-weight: bold;
  font-size: 13px;
}

/* line 89, ../scss/components/_signin.scss */
.content-wrapper h4 {
  background: #efeeee;
  font-size: 14px;
  margin: 10px 0;
  padding: 8px 15px;
  font-weight: bold;
}

/* line 98, ../scss/components/_signin.scss */
.login-wrapper {
  width: 440px;
  margin-top: 120px;
  background: #dfe5e9;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 0px #c5c5c5;
}

/* line 109, ../scss/components/_signin.scss */
.login-wrapper .login {
  text-align: left;
  padding: 10px 25px 25px;
  font-size: 14px;
}

/* line 115, ../scss/components/_signin.scss */
.login-wrapper .login h4 {
  margin: 0 0 16px 0;
  padding: 0 0 8px 0;
  border-bottom: dotted 1px #ccc;
}

/* line 120, ../scss/components/_signin.scss */
.login-wrapper .login-btn {
  background: #0074b7;
  padding: 5px 8px;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* line 127, ../scss/components/_signin.scss */
.login-wrapper .login .error {
  color: red;
  text-align: center;
  padding: 5px 0 0 0;
}

/* line 1, ../scss/components/_form.scss */
.cssSlideUp {
  transition: .5s linear all;
  height: 175px;
  overflow: hidden;
}

/* line 6, ../scss/components/_form.scss */
.cssSlideUp.ng-hide {
  height: 0;
}

/* line 9, ../scss/components/_form.scss */
.active {
  background-image: url("../images/left-nav-active-tab.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 14, ../scss/components/_form.scss */
.formContent {
  margin-top: 30px;
  min-height: 700px;
}

/* line 18, ../scss/components/_form.scss */
.formContent .input {
  width: 350px;
}

/* line 21, ../scss/components/_form.scss */
.radioGroup {
  margin-top: 10px;
}

/* line 24, ../scss/components/_form.scss */
.formContent .submit, .submit {
  background-color: #EFD303;
  color: black;
  font-weight: bold;
  padding: 12px 25px;
  /*width:150px;
  height:40px;
  padding:0;*/
  margin-right: 15px;
  box-shadow: 0 3px 0 rgba(122, 107, 11, 0.7);
}

/* line 35, ../scss/components/_form.scss */
.formContent .cancel, .cancel {
  background-color: #B0B0B0;
  color: black;
  font-weight: bold;
  padding: 12px 25px;
  /*width:150px;
  height:40px; */
  box-shadow: 0 3px 0 rgba(176, 176, 176, 0.7);
}

/* line 44, ../scss/components/_form.scss */
.link {
  text-decoration: underline;
}

/* 
.datePickerCustom  .ui-widget-header{
	background:url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% rgb(55,78,87);
} */
/* line 1, ../scss/components/_left-nav.scss */
.side-nav li a {
  border-radius: 3px 0 0 3px;
  width: 200px;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  line-height: 40px;
  background: #A2C2D5;
  border: 1px solid #000;
}

/* line 12, ../scss/components/_left-nav.scss */
.side-nav li a.disable,
.side-nav li a.disable:hover {
  background: #E6EAEB !important;
  border: 1px solid #ccc !important;
  color: black;
  /*pointer-events:none;*/
}

/* line 20, ../scss/components/_left-nav.scss */
.side-nav li a.active,
.side-nav li a.active:hover,
.side-nav li a.active:visited {
  width: auto;
  cursor: default;
  line-height: 42px;
  border: 0 !important;
  background: transparent url("../images/left-nav-active-tab.png") no-repeat left top !important;
  color: white;
}

/* line 31, ../scss/components/_left-nav.scss */
.side-nav li a.success,
.side-nav li a.success:hover,
.side-nav li a.success {
  width: auto;
  cursor: default;
  line-height: 42px;
  border: 0 !important;
  background: url("../images/tick-mark.png") no-repeat right center #8ebdce !important;
}

/* line 42, ../scss/components/_left-nav.scss */
#left-nav-mobile {
  display: none;
}

/* line 45, ../scss/components/_left-nav.scss */
.rightContent {
  border: 1px solid #ccc;
  margin-left: -51px !important;
}

/* line 49, ../scss/components/_left-nav.scss */
.leftContent {
  z-index: 1;
}

/* line 53, ../scss/components/_left-nav.scss */
.registrationHeading {
  padding-left: 15px;
  margin: 20px 0 20px 0;
}

/* line 58, ../scss/components/_left-nav.scss */
.required {
  border-left: 4px solid #B20E11 !important;
}

/* file input styles*/
/* line 62, ../scss/components/_left-nav.scss */
.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}

/* line 66, ../scss/components/_left-nav.scss */
.mock-input {
  float: left;
}

/* line 69, ../scss/components/_left-nav.scss */
.mock-browse {
  height: 35px;
  background-color: #0174B7;
  box-shadow: 0 2px 0 rgba(176, 176, 176, 0.7);
  color: #fff !important;
  font-weight: bold;
  height: 37px;
  width: 100px;
  border-radius: 3px;
  vertical-align: middle;
  border-radius: 0 3px 3px 0;
  padding-left: 25px;
}

/* line 82, ../scss/components/_left-nav.scss */
.mock-browse label {
  color: #fff !important;
}

/* line 85, ../scss/components/_left-nav.scss */
#profilePhoto {
  position: absolute;
  visibility: hidden;
}

/* line 1, ../scss/components/_loader.scss */
.loader-input {
  float: left;
}

/* line 7, ../scss/components/_loader.scss */
.loader-container img {
  margin-left: 20px;
  margin-top: 6px;
}

/* line 12, ../scss/components/_loader.scss */
.status-message {
  display: inline-block;
  padding-left: 20px;
  padding-top: 6px;
  font-size: 12px;
  color: #35B443;
}

/* line 20, ../scss/components/_loader.scss */
.status-message.error-state {
  color: #B20E11;
  background-color: #fff;
}

/* line 1, ../scss/components/_validation.scss */
.error-class {
  clear: both;
  color: red;
  font-size: 11px;
  margin: 0 0 15px 0;
}

/* line 7, ../scss/components/_validation.scss */
.error-class .error-content:empty {
  display: none;
  border: solid 2px red;
}

/* line 12, ../scss/components/_validation.scss */
.row.error-field input, .row.error-field select {
  border: 1px solid #B20E11;
}

/* line 2, ../scss/components/_view-member.scss */
.mobile-node {
  height: 30px;
  overflow: hidden;
}

/* line 7, ../scss/components/_view-member.scss */
.view-memeber-work-sheet {
  border: none;
}

/* line 11, ../scss/components/_view-member.scss */
.view-memeber-work-sheet thead {
  background-color: #bbb;
}

/* line 14, ../scss/components/_view-member.scss */
.view-memeber-work-sheet thead tr th {
  color: #FFF;
  text-align: center;
  font-size: 12px;
}

/* line 19, ../scss/components/_view-member.scss */
.view-memeber-work-sheet thead th {
  border: 1px solid #000;
  border-left: 0;
  border-bottom: 0;
}

/* line 24, ../scss/components/_view-member.scss */
.view-memeber-work-sheet tbody tr td {
  text-align: center;
  border: 1px solid #000;
  border-left: 0;
}

/* line 1, ../scss/components/_voter.scss */
#pincode {
  float: left;
}

/* line 6, ../scss/components/_voter.scss */
.search-icon {
  left: 325px;
  position: absolute;
  top: 10px;
  cursor: pointer;
}

/* line 12, ../scss/components/_voter.scss */
.address-line {
  display: inline-block;
  padding-top: 7px;
}

/* line 17, ../scss/components/_voter.scss */
.ui-tooltip {
  background: #FAEEEE;
  color: #C54A4C;
  border: 1px solid #AC5253;
  padding: 0;
  opacity: 1;
  font-size: 1em;
  max-height: 50px;
  max-width: 350px;
}

/* line 28, ../scss/components/_voter.scss */
.ui-tooltip-content {
  position: relative;
  padding: 1em;
}

/* line 32, ../scss/components/_voter.scss */
.ui-tooltip-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
}

/* line 39, ../scss/components/_voter.scss */
.errorToolTip .ui-tooltip-content::after {
  top: 5px;
  left: -10px;
  border-color: transparent #AC5253;
  border-width: 10px 10px 10px 0;
}

/* line 45, ../scss/components/_voter.scss */
.bottom-space {
  padding-bottom: 20px !important;
}

/* line 48, ../scss/components/_voter.scss */
.social-icons {
  margin: 0 8px 0 0;
}

/* line 51, ../scss/components/_voter.scss */
#autoCompleteContainer ul {
  width: 350px !important;
  background-image: none !important;
  background-color: #eaeaea;
}

/* line 57, ../scss/components/_voter.scss */
#autoCompleteContainer ul li {
  background-color: #fff !important;
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 5px;
  padding: 5px;
}

/* line 65, ../scss/components/_voter.scss */
#autoCompleteContainer ul li.ui-state-focus {
  border: 1px solid #ddd !important;
  background-image: none !important;
  background-color: #eaeaea !important;
  font-size: 13px;
  font-weight: normal;
}

/* line 73, ../scss/components/_voter.scss */
.orbit-caption {
  display: none !important;
}

/* line 78, ../scss/components/_voter.scss */
#autoCompleteContainer {
  height: 37px;
  width: 350px;
}

/* line 84, ../scss/components/_voter.scss */
#autoCompleteContainer ul {
  width: 350px !important;
  background-image: none !important;
  background-color: #eaeaea;
}

/* line 90, ../scss/components/_voter.scss */
#autoCompleteContainer ul li {
  background-color: #fff !important;
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 5px;
  padding: 5px;
  word-wrap: break-word;
}

/* line 99, ../scss/components/_voter.scss */
#autoCompleteContainer ul li.ui-state-focus {
  border: 1px solid #ddd !important;
  background-image: none !important;
  background-color: #eaeaea !important;
  font-size: 13px;
  font-weight: normal;
}

/* line 1, ../scss/components/_mission-vision.scss */
.mission-vissionSubHeadings {
  color: #333;
}

/* line 4, ../scss/components/_mission-vision.scss */
.vision-mission {
  margin: 0 0 20px 0;
}

/* line 7, ../scss/components/_mission-vision.scss */
.vision-mission img, .vision img {
  border: none;
  margin: 8px 0;
}

/* line 11, ../scss/components/_mission-vision.scss */
.vision-mission h6 {
  margin: 23px 0 0 0;
  font-size: 14px;
}

/* line 15, ../scss/components/_mission-vision.scss */
.vision-mission .mission {
  background: #e5ecf2;
  box-shadow: 1px 1px 1px #999;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

/* line 23, ../scss/components/_mission-vision.scss */
.vision span {
  color: #1bb2ea;
}

/* line 26, ../scss/components/_mission-vision.scss */
.vision span.justice {
  color: #f15a3f;
}

/* line 29, ../scss/components/_mission-vision.scss */
.vision span.economic {
  color: #048894;
}

/* line 32, ../scss/components/_mission-vision.scss */
.vision span.green {
  color: #75b224;
}

/* line 35, ../scss/components/_mission-vision.scss */
.vision span.improve {
  color: #0032a5;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 40, ../scss/components/_mission-vision.scss */
  .vision-mission h6 {
    font-size: 14px;
  }

  /* line 43, ../scss/components/_mission-vision.scss */
  .vision-mission h6 {
    margin: 18px 0 0 0;
  }
}
/* line 3, ../scss/components/_knowourmp.scss */
.content .MpName {
  font-weight: bold;
}

/* line 2, ../scss/components/_aboutConstituency.scss */
.constituency-map img {
  width: 100%;
  height: 500px !important;
}

/* line 1, ../scss/components/_vertical-scroll.scss */
.vert {
  width: 340px;
  height: 200px;
  margin-bottom: 1.5em;
}

/* line 7, ../scss/components/_vertical-scroll.scss */
.vert .simply-scroll-clip {
  width: 290px;
  height: 200px;
}

/* line 12, ../scss/components/_vertical-scroll.scss */
.simply-scroll-container {
  /*Container DIV - automatically generated */
  position: relative;
}

/* line 16, ../scss/components/_vertical-scroll.scss */
.simply-scroll-clip {
  /*Clip DIV - automatically generated */
  position: relative;
  overflow: hidden;
}

/* UI components */
/* line 1, ../scss/components/jqueryUI/_datePicker.scss */
.ui-datepicker {
  width: 269px;
  height: auto;
  margin: 5px auto 0;
  font: 9pt Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* line 12, ../scss/components/jqueryUI/_datePicker.scss */
.ui-datepicker-header {
  background-color: #16578F;
  color: #e0e0e0;
  font-weight: bold;
  -webkit-box-shadow: inset 0px 1px 1px 0px #fafafa;
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2);
  box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2);
  text-shadow: 1px -1px 0px #000;
  filter: dropshadow(color=#000, offx=1, offy=-1);
  line-height: 30px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #111;
  padding-top: 5px;
}

/* line 29, ../scss/components/jqueryUI/_datePicker.scss */
.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden;
}

/* line 42, ../scss/components/jqueryUI/_datePicker.scss */
.ui-datepicker-prev {
  float: left;
  background-position: center -30px;
}

/* line 46, ../scss/components/jqueryUI/_datePicker.scss */
.ui-datepicker-next {
  float: right;
  background-position: center 0px;
}

/* line 51, ../scss/components/jqueryUI/_datePicker.scss */
.ui-datepicker thead {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: -ms-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
  border-bottom: 1px solid #bbb;
}

/* line 65, ../scss/components/jqueryUI/_datePicker.scss */
.ui-datepicker-title select {
  width: 30%;
  margin-bottom: 5px;
  margin-left: 16px;
}

/* line 72, ../scss/components/jqueryUI/_datePicker.scss */
.ui-datepicker-calendar {
  margin-bottom: 0;
}

/* 
.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #666666;
    text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker-calendar .ui-state-default {
    background: #ededed;
    background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
    background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
    background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
    background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
    background: linear-gradient(top,  #ededed 0%,#dedede 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
    -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
    box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}
.ui-datepicker-unselectable .ui-state-default {
    background: #f4f4f4;
    color: #b4b3b3;
} */
/* line 107, ../scss/components/jqueryUI/_datePicker.scss */
.ui-datepicker td a {
  color: #16578F;
}

/* line 111, ../scss/components/jqueryUI/_datePicker.scss */
.ui-datepicker td a:hover {
  color: #16578F;
  text-decoration: underline;
}

/* .ui-datepicker tbody td:last-child,.ui-datepicker tbody td:first-child {
    border-right: 0px;
    background-color:#eaeaea;    
} */
/* .ui-datepicker tr:nth-of-type(2n) td:last-child{
	background-color:#333;
}  */
